[2020-10-08 07:00] ArnavMotwani opened #3 "How can I change the color of the tomorrow label in the calendar events"
I went through the code a couple times and couldn't find which item in the textFormat array changes the tomorrow label. Since the the tomorrow label is posing as an event, does it have to be the same color as the events? Note I am not talking about the future weather label.

[2020-10-08 19:33] mzeryck commented on #3
Ah yep, you're right - currently it has to match the format of the event title. I can work on adding a condition to the `events` function that handles the label better.

[2020-10-09 01:57] rishi-desai opened #5 "Error"
I'm getting this error when I run the code on Scriptable:

2020-10-08 21:56:38: Error on line 213:33: TypeError: undefined is not an object (evaluating 'data.current.temp')

[2020-10-09 02:55] rajaspidey commented on #5
Am getting same error.

[2020-10-09 03:04] rajaspidey commented on #5
It’s because api key is not active yet. I got the error 5 min ago and now it’s working.

[2020-10-09 03:10] mzeryck commented on #5
Yes @rishi-desai - I'm not sure why, but it can take some time for OpenWeather to activate the key.

[2020-10-09 03:10] #5 closed

[2020-10-09 11:17] ArnavMotwani commented on #3
Yes I think the labels need to be a bit more distinct!

[2020-10-09 11:43] ArnavMotwani opened #6 "The latest merge doesn't work."
You get the error `2020-10-09 17:10:57: Error on line 213:33: TypeError: undefined is not an object (evaluating 'data.current.temp')`

I have an older version of the code with a little feature I added which I will submit as a pull request.

[2020-10-09 11:48] ArnavMotwani commented on #6
I restarted the app and the code now runs

[2020-10-09 11:48] #6 closed

[2020-10-09 21:02] mzeryck commented on #3
The most recent commit adds the `eventLabel` option in `textFormat` to target the tomorrow label.

[2020-10-09 21:02] #3 closed

[2020-10-17 17:52] benedictusaldogithub opened #11 "What should i do"
So when i paste the text from the web and i run the script, the notification that show up is like this. (I already put the API from the weather website that you told).
![image](https://user-images.githubusercontent.com/73035416/96349797-1f5d7480-10dc-11eb-8c34-e53e1c290c1f.png)
![image](https://user-images.githubusercontent.com/73035416/96349802-25ebec00-10dc-11eb-96a6-6c6b5c3d9d8f.png)

[2020-10-20 00:19] Goldsucher opened #12 "Error on line 753:51: TypeError: undefined is not an object (evaluating 'weatherDataRaw.current.temp')"
I tried to run the script and get the error mentioned above. I'm pretty sure, it's not due to the api key, because the same key works in other applications.

[2020-10-20 06:12] Adrian-Grimm commented on #12
I had the same error. In my case it was the API key. If it is a new one it takes some time..

[2020-10-21 03:08] italoboy commented on #12
It doesn't work after new API and 24 hours.

[2020-10-22 04:01] mzeryck commented on #11
That is very odd! Does the top of the script look like this: `apiKey = "abcdefg"` ?

[2020-10-22 04:03] mzeryck commented on #12
There is a caching issue - where if the API call fails, it still stores the value. But it shouldn't persist. Is the entire script unmodified besides the API key?

[2020-10-22 04:06] italoboy commented on #12
I doesn't run without fixing this error, you better add city ID as well.

[2020-10-22 04:37] mzeryck commented on #12
Can you tell me what your `locale` value is? For example, mine is `let locale = "en"`

[2020-10-22 06:15] benedictusaldogithub commented on #11
Yap, i enter the apikey exact same the web you provide

[2020-10-22 07:13] italoboy commented on #12
It is the same. I didn't change it.

[2020-10-22 11:49] Goldsucher commented on #12
yes still the same error here. Wouldn't it be easier to set the location in the code?

[2020-10-22 12:37] guccilui opened #13 "Weather"

[2020-10-22 12:37] #13 closed

[2020-10-22 14:13] mzeryck commented on #11
Did you allow location access for the Scriptable app? You can check by going to Settings > Scriptable > Location.

[2020-10-22 14:14] mzeryck commented on #12
Another question - is location access enabled for Scriptable? You can check by going to Settings > Scriptable > Location.

[2020-10-22 16:13] Goldsucher commented on #12
okay that was the problem. Enabling the location access fixed it. But I would appreciate the possibility to set the location in the code and run the script without location access

[2020-10-22 17:14] mzeryck commented on #12
You can hard-code the location by deleting and replacing the entire `setupLocation()` function (it starts around line 660) and replacing it with the following code:
[code]
Of course, you'll need to use a site [like this](https://www.latlong.net) to find your latitude and longitude, and replace "Cupertino" with your city/town name.

[2020-10-22 17:14] #12 closed

[2020-10-22 19:06] Goldsucher opened #14 "sunrise/sunset not working"
I think there is a problem with the sunrise/sunset feature. Checked it with default configuration (only api key added). The widget shows only the sunset-icon and "12:00 AM"

I tested the api request and it themes to work.

Could you please check that?

[2020-10-22 19:32] mzeryck commented on #14
Can you use [Pastebin](http://pastebin.com) and copy all of your code in there (without the API key, and removing any hard-coded location info if you've added it).

[2020-10-22 19:43] Goldsucher commented on #14
sure. I've hardcoded the location but for pastebin I commented it out and paste your setupLocation-method.

https://pastebin.com/VzVL8Usi

[2020-10-22 19:52] schmiddi2908 opened #15 "Background image"
How i can change the Image?

[2020-10-22 20:28] Goldsucher commented on #15
you will be prompted to set the image when first running the script. If you want to change the image after that, you have to set
const forceImageUpdate = true

on line 26, set a new image and change it back to false

[2020-10-23 00:57] mzeryck commented on #14
Can you attach a screenshot of your widget? The code you sent works fine whether or not I use the built-in location function or the hard-coded one.

[2020-10-23 00:57] #15 closed

[2020-10-23 09:47] Goldsucher commented on #14
okay strange, since tonight it is actually working. But it only shows sunrise. Shouldn't it show sunrise + sunset?

here is the screenshot:
![widget](https://user-images.githubusercontent.com/7906131/96989061-72dd2180-1525-11eb-8cc1-012e9b54b2b7.jpg)

[2020-10-23 17:05] mzeryck commented on #14
Ahh, so the current implementation tries to "guess" which time is more relevant - showing the sunrise in the morning, and the sunset in the evening. But I've been meaning to adjust the logic since it doesn't work that well. I'll update this issue when I have time to address it!

[2020-10-24 18:07] igregma opened #16 "Support for Darkmode Image?"
Hi,

any plans to support a second image for the automatic switch to darkmode?
Just realize that widget looks shitty at night ;)

[2020-10-26 13:26] TobiMuehle opened #18 "Weather forecast"
Hey,

would it be possible to add a 3 hours and 3 days forecast?
And do you think we can add a second column of events?
First 5 left and second 5 right handed?

Thank you...

[2020-10-29 00:28] farovitus opened #19 "I have two problems"
First, when i set _showLocation_ to true, i get null in the widget. I would really like to show my city name on this beautiful widget.

Second, the temperature is not similar to that in default weather app from iOS, and i am not talking here about 1-2'C but 5-7'C difference. Can't we somehow switch the service to another ? Something like [https://weather.com/weather/today/l/33.89011182351103,35.53

[2020-10-30 07:09] TheSpirit opened #20 "Support for medium size widget"
Could you add support for medium size widget?
Thanks

[2020-10-30 07:21] #20 closed

[2020-10-30 15:38] matesalacz opened #21 "Error message"
Hey!

I have the issue shown below. What can I do about it?
![image](https://user-images.githubusercontent.com/70015336/97725250-3df53f80-1ace-11eb-90a5-9f8e0798f897.png)

[2020-10-30 19:49] mzeryck commented on #21
Have you claimed your OpenWeather API key, and added it to the top of the script? Near the top, it should look like this: `const apiKey = "abcdefjhijklmnop"`

[2020-10-30 19:51] matesalacz commented on #21
Yes I did. Is this wrong?![image](https://user-images.githubusercontent.com/70015336/97750723-a73a7a00-1af1-11eb-8222-3fc1092e459d.png)

[2020-10-30 19:54] mzeryck commented on #19
Is location access enabled for the Scriptable app and widgets? You can check by going to the Settings app > Scriptable > Location.

Unfortunately, The Weather Channel charges money for their API access (according to number 5 in [this article](https://nordicapis.com/6-best-free-and-paid-weather-apis/)) so using their service currently isn't possible.

In OpenWeather, I'm using the [One Call API](ht

[2020-10-30 19:55] mzeryck commented on #18
Both of those are definitely possible. If you know Javascript, or were interested in exploring this, go for it! However, I have limited time for this project so I won't likely add them myself.

[2020-10-30 19:55] #18 closed

[2020-10-30 19:57] mzeryck commented on #16
It's funny, I never noticed this issue because I have the setting "Dark Appearance Dims Wallpaper" turned off (it's in Settings app > Wallpaper). I'll consider adding this, although Scriptable's current support for dark mode unfortunately make it a bit difficult to implement.

[2020-10-30 19:57] mzeryck commented on #11
I'm closing this issue, as I'm guessing the solution I suggested above worked.

[2020-10-30 19:57] #11 closed

[2020-10-31 04:57] mzeryck commented on #21
@matesalacz Ah, you only need the code after the second equals sign. For example, mine looks like this (key is partially hidden):
![IMG_9A7E3783A580-1](https://user-images.githubusercontent.com/71023727/97771508-c25db780-1afa-11eb-8d6a-bd4813c05e25.jpeg)

[2020-10-31 10:49] matesalacz commented on #21
Ahh my bad. Now it works. Thanks for the reply 🙏🏻

[2020-10-31 14:18] mzeryck commented on #21
No problem, glad it works!

[2020-10-31 14:18] #21 closed

[2020-10-31 18:02] TheRealEvan584 opened #22 "I got an error message"
2020-10-31 13:57:08: Error on line 758:51: TypeError: undefined is not an object (evaluating 'weatherDataRaw.current.temp')

That is the error I received when trying to set up my widget for the first time. What does it mean and how can I fix it?

[2020-11-01 10:48] igregma commented on #16
Would be great if you can script a solution... :-)
At the moment I switched to another background which is cool also with one mode.... But I really love the ability to switch theme at nigth. If you take a look to 14.2 Beta, there's a ton of new cool bright/dark images included :-)

[2020-11-01 10:49] igregma commented on #22
I know this error. Think you just created the weather acc? Sometimes you have to wait at least 24h before you acc starts working...

[2020-11-01 16:40] TheRealEvan584 commented on #22
It has been almost 30 hours now and I am still receiving the same error message. What can I do
to fix it?

[2020-11-01 18:00] igregma commented on #22
Did you allow location access? What's your setting for location, fixed or constant location usuage?

[2020-11-01 19:16] TheRealEvan584 commented on #22
“While Using the App or Widgets” is my location setting for scriptable in iOS.

[2020-11-02 01:14] TheRealEvan584 commented on #22
I just solved my issue. I entered the weather API key incorrectly. Thank you for helping me in resolving this issue.

[2020-11-02 01:14] #22 closed

[2020-11-02 06:23] mzeryck commented on #14
@Goldsucher I believe I've (finally) fixed this issue! In my testing, this finally works as designed (show today's sunrise / today's sunset / tomorrow's sunrise throughout the day).

[2020-11-02 06:23] #14 closed

[2020-11-02 09:01] deroverda commented on #19
Isn't the One Call API the only alternative you get when using their free plan? I signed up for a free account and got an API sent to me. Here's the details. [This](https://imgur.com/a/PvrBoGg) is the One Call API, right? And if not, how do I switch to One Call API?

[2020-11-02 09:09] deroverda opened #24 "Making sure I'm using your latest script. How?"
Thanks for this fantastic work.
I've just gotten started with this and downloaded your latest .js a week ago. I've noticed since I started using your widget you've made more commits (bug fixes etc). What's the best way of keeping your script updated in my scriptable app without having to re-enter my personal edits to the .js file? Scriptable doesn't auto-update the script when you make commits rig

[2020-11-02 15:24] farovitus commented on #19
I have location turned on for scriptable and precise mode is on too, unfortunately location is null

[2020-11-02 20:46] mzeryck commented on #19
@deroverda That looks right to me! If you haven't already, just go to the "API keys" tab, copy the key code, and paste it into the script, like this:
![IMG_9A7E3783A580-1](https://user-images.githubusercontent.com/71023727/97771508-c25db780-1afa-11eb-8d6a-bd4813c05e25.jpeg)

[2020-11-02 20:48] mzeryck commented on #19
@farovitus Weird, I'm not sure why that would be happening. If you want, I'd be happy to try and troubleshoot further if you message me on Twitter or Reddit (I'm mzeryck everywhere).

[2020-11-03 10:47] italoboy opened #25 "Make it whole Localization."
I want to see battery, weather, next hour weather, weather condition and city to be locale.

Thank you.

[2020-11-03 20:49] Nosh118 opened #26 "Exception Occured when running script"
When running the script, I get the error 'Error on line 776.51: TypeError: undefined is not an object (evaluating 'weatherDataRaw.current.temp')

[2020-11-04 16:15] farovitus commented on #19
@mzeryck sorry for late reply, today i've updated the script with your latest changes.
I've got this error and i hope it helps, it actually shows up when i set lockLocation to false, but if i leave the latter to true it shows no error but i get null on the widget.
![image](https://user-images.githubusercontent.com/26744124/98131088-9c9e2d00-1ec3-11eb-812e-e43f752061ff.png)

[2020-11-04 19:25] igregma commented on #16
...just saw another Script is using this variable here:
(Device.isUsingDarkAppearance()
to set another Color. Maybe you can use it to set another image?
Cross fingers :-)

[2020-11-04 19:38] farovitus commented on #19
@mzeryck check this widget it have my city name working in the widget.
I left my cityWeather id so just go ahead and put your API to check it out... This widget IS NOT created by me.

_ // Variables used by Scriptable.
// These must be at the very top of the file. Do not edit.
// icon-color: yellow; icon-glyph: magic;
// Variables used by Scriptable.
// These must be at the very top of the file. D

[2020-11-04 19:53] mzeryck commented on #25
Hello, have you tried setting the `locale` variable? It should affect all of the weather information. Does that work?

[2020-11-04 19:56] mzeryck commented on #26
Have you added your [OpenWeather API Key](https://openweathermap.org/home/sign_up) to the script, and made sure location is enabled? (Settings app > Scriptable > Location > While Using the App or Widgets)

[2020-11-04 19:57] mzeryck commented on #16
Unfortunately, isUsingDarkAppearance() is [no longer supported in widgets](https://docs.scriptable.app/device/#isusingdarkappearance). It never worked particularly well in testing, and the developer of Scriptable has said it isn't possible. Sorry about that!

[2020-11-04 19:57] #16 closed

[2020-11-04 20:10] mzeryck commented on #19
@farovitus Thanks for writing back. This is an interesting issue. It actually isn't related to the weather API - the weather code you provided is using a different API endpoint.

Can you do me a favor: create a brand-new script, and paste the following code:
[code]
If it works correctly, it should show your latitude, longitude, and city name in the console, like this: 37.332279|-122.010979|Cuperti

[2020-11-04 20:13] mzeryck commented on #24
@deroverda So sorry for the late reply. I've been thinking about this, and I've seen some solutions that may work. So it's definitely something I am going to look into!

For the battery color, there is a new setting: if you want, you can have the icons match the color of the text around them. This helps if you want black text on a white background, since the icons default to white. You can change

[2020-11-04 20:15] farovitus commented on #19
@mzeryck thanks, yes it seems to work i get Lat|Long| null

[2020-11-04 22:55] Nosh118 commented on #26
Sorted itself out now, thanks!

[2020-11-04 22:55] #26 closed

[2020-11-05 09:52] Elboa99 opened #27 "Issue"
In the info you said that if I wanted to have a transparent widget I had to run the transparent widget first and then at the end of that script export it to photos and use it in the weather script right? But I can't find any export to photos in the first script.

[2020-11-05 10:44] deroverda commented on #24
@mzeryck No need to say sorry. It helped for sure. Before I close this I would like to ask one more question.

For some odd reason my Greeting text looks like [this ](https://imgur.com/a/FOKvxlc)on my widget:
Good
morning.

The scriptable preview window shows it the [correct ](https://imgur.com/a/Gx9dxFo)way though:
Good morning.

While I think it looks cool to be able to have the greeting split i

[2020-11-05 12:12] italoboy commented on #25
Yes only the date and sunrise work.

[2020-11-05 14:55] mzeryck commented on #27
@Elboa99 What happens when you run that script? When you run it, the final popup should look like this:
![IMG_6894](https://user-images.githubusercontent.com/71023727/98256836-e4f53380-1f33-11eb-8f8f-1b01b7984efc.PNG)

[2020-11-05 15:05] mzeryck commented on #24
@deroverda One thing to know, the preview inside Scriptable is sometimes inaccurate. The only way to know exactly how iOS will display your widget is to look at the home screen. I have [this shortcut](https://www.icloud.com/shortcuts/6682b3bc2ebe4b6c88bd024a78ad816a) saved to my homescreen, which forces all Scriptable widgets to refresh. That way I can test my widgets without relying on the in-app

[2020-11-05 15:06] mzeryck commented on #19
@farovitus Thanks for checking! This is definitely a bug - I will let you know when I have time to fix it.

[2020-11-05 15:07] mzeryck commented on #25
Is location access enabled for Scriptable? You can check by going to the Settings app > Scriptable > Location > While Using the App or Widgets

[2020-11-05 19:28] italoboy commented on #25
Yes for weather once.
But my question was something else, my language is fa_IR and when I put it there I see weather and sunrise to be localized only.

[2020-11-05 20:05] deroverda commented on #24
@mzeryck thanks for the thorough reply and for the shortcut. your code worked like a charm. thanks again. case closed 😃

[2020-11-05 20:25] Elboa99 commented on #27
No it's doesn't, I mean at least not on this script. That thing pop up in the other script, the Blurred widget ( correct me if I'm wrong 😅) I tried to run the transparent widget screen but that thing doesn't show up

[2020-11-05 20:26] mzeryck commented on #25
Oh wow, thank you for bringing this up! There are actually two bugs here - OpenWeather leaves certain things in English, even if another language is selected. And, they don't support as many languages as the iPhone does.

But, I can fix both problems so they work better! I think I will have time to fix this after work today, but I will definitely let you know once I do. Sorry about that.

[2020-11-05 20:32] mzeryck commented on #24
Yay glad to hear that! Happy to help. And no worries I'll close from here. Cheers.

[2020-11-05 20:32] #24 closed

[2020-11-06 06:05] mzeryck commented on #25
@italoboy Thanks again for bringing up these issues! I just released a new update to the code. Can you try and see if it works better?

[2020-11-06 06:21] mzeryck commented on #19
@farovitus I think the most recent version fixes this issue, please try it out and let me know!

[2020-11-06 06:23] mzeryck commented on #27
If you're using Weather Cal, and you want to change the background image, you'll need to set `const forceImageUpdate = true` and run the script. Then it will allow you to choose a new background image. Does this help?

[2020-11-06 07:48] italoboy commented on #25
First thank you for supporting,second I've tried the updated script:

https://i.imgur.com/epJ6reU.jpg

As you can see, weather condition has been localized, but weather city name, next hour as well as calendar are not yet.

Calendar might be another another story and related to Apple calendar app (not sure if it is possible to be localized and show in my language based on locale code)

But the nam

[2020-11-06 08:57] farovitus commented on #19
@mzeryck unfortunately it's not working either, tho it's a different issue now. Instead of having a "null" i am getting nothing now. Also i tried running your previous code, i get now _lat|long| _ only.

[2020-11-06 13:25] mzeryck commented on #25
Ah okay, can you please change `const lockLocation = true` and run the script once? This will force the location to update, and then the city should display in the correct language.

If you'd like to change the language of the "Next hour" text and some other hard-coded text in the widget, you can scroll down to the `localizedText` section and change them manually.

You are correct about the calend

[2020-11-06 13:27] mzeryck commented on #19
@farovitus Sorry, I made a mistake - can you change `const lockLocation = false` and run the script? This will reset the cache, and so if you change it back to `true` it should (hopefully!) work.

[2020-11-06 13:59] farovitus commented on #19
@mzeryck sorry man, same behavior

[2020-11-06 14:14] Elboa99 commented on #27
It does. Thanks a lot mate🔥

[2020-11-06 14:16] mzeryck commented on #27
Glad to hear!

[2020-11-06 14:20] mzeryck commented on #19
@farovitus Okay that's weird since you said setting lockLocation = false worked for you earlier! Can you make a new script and run this code, and see what happens?
[code]

[2020-11-06 14:24] farovitus commented on #19
@mzeryck unfortunately it never did, i was having an error when setting it to false and when it was true it gave me a null but it never did show the name of my city. Also now with this code

let files = FileManager.local()
let path = files.joinPath(files.documentsDirectory(), "weather-cal-loc")
console.log(files.readString(path))

It only shows lat|long|

[2020-11-06 14:30] farovitus commented on #19
Okay maybe we are on the right track now since the code you gave me down below returned null

const location = await Location.current()
const geocode = await Location.reverseGeocode(location.latitude, location.longitude, Device.locale())
console.log(geocode[0].locality)

[2020-11-06 15:10] mzeryck commented on #19
@farovitus That is so bizarre! Can you try changing the last line to be:
console.log(geocode)
When you do that, can you see your city name anywhere in there? For example, for me I can see it with both "city" and "locality".

[2020-11-06 15:15] farovitus commented on #19
Okay here we go, below you can find the output, i replaced some of the values with xxxxx

2020-11-06 17:12:16: [{"locality":null,"areasOfInterest":null,"ocean":null,"subLocality":null,"postalCode":null,"isoCountryCode":"LB","country":"Lebanon","location":{"altitude":0,"latitude":33.xxxxxx,"longitude":35.xxxxxxx},"subAdministrativeArea":null,"name":"Rue xx","subThoroughfare":null,"administrativeAre

[2020-11-06 15:35] mzeryck commented on #19
@farovitus That is incredibly helpful, thank you!! I had no idea iOS might return null for both city and locality. I just posted a new version that, I think, fixes it. If you want you could also try updating the code, it's around line 690 where `locationData.locality` is defined, the new code is:
` locationData.locality = (geocode[0].locality || geocode[0].postalAddress.city) || geocode[0].adminis

[2020-11-06 15:44] farovitus commented on #19
Thanks @mzeryck you did it!! I hope it does not break for other people now that it worked for me.
![image](https://user-images.githubusercontent.com/26744124/98385388-9476f680-2057-11eb-94f5-c638019529f9.png)

[2020-11-06 16:25] mzeryck commented on #19
@farovitus That is awesome news! And thank you so much for being incredibly patient while helping me figure this out. The way the code works, it shouldn't affect any existing users. Thanks again and have a great day!

[2020-11-06 16:25] #19 closed

[2020-11-06 18:18] italoboy commented on #25
I put const lockLocation = false and nothing happened. Tried several times and no.

Please tell me which line is localizedText for Tomorrow weather?! I couldn't find it.

OK battery is not a big deal here, I agree.

[2020-11-07 09:22] suxus-zz opened #28 "Reminders"
Hallo, it's a great widget for my i miss the reminders in the widgets. I have daily events and reminders. If you have events  today, the next 2 should be displayed and if you have reminders today, it would be great if the next two reminders are also displayed there.

And thank you very much for your great job.

regards

[2020-11-07 12:45] SayWhat69 opened #29 "Battery Icon not shown"
The battery icon is not shown in my widget. The battery text is shown normally.

[2020-11-07 13:10] SayWhat69 commented on #25
Nvm it’s just black.

[2020-11-07 13:10] SayWhat69 commented on #29
Nvm it’s just black.

[2020-11-07 15:26] mzeryck commented on #28
The most recent update adds the ability to show your reminders!

[2020-11-07 15:26] #28 closed

[2020-11-07 15:27] mzeryck commented on #29
I'm not sure why, but yeah the battery icon defaults to black. If you want to match the icons to the color of the text around them, you can set `const tintIcons = true`.

[2020-11-07 15:27] #29 closed

[2020-11-07 16:32] suxus-zz opened #30 "Wishlist"
Hello
The widget is really awesome, if you have something else I would be missing the following.

1. The probability of rain in the next hour. I think the rain percentage can be found here (https://api.openweathermap.org/data/2.5/onecall?)

2. If you show both the events and reminders, it may be that an event is shown first, e.g. at 10:00. If there is a reminder at 9:00 am, it looks a bit confusin

[2020-11-07 19:30] mzeryck commented on #25
For the location issue, can you try creating a new script and pasting in this code:
[code]
And let me know what it shows? That will help me figure out what might be happening.

For the localizedText, here is a screenshot showing where it is in the code. Any of the English text can be edited and changed to your own language!
![IMG_4AFC0BDCD01C-1](https://user-images.githubusercontent.com/71023727/9

[2020-11-07 19:33] mzeryck commented on #30
Hi, thank you for these suggestions! I had already been planning to work on a combined events/reminders element, and the idea of putting the time/date on the same line is a good one. I can also look into rain percentage as well. I have a few other things to work on this weekend, but I will leave this issue open until I have time to work on it! Thanks!

[2020-11-07 22:21] shamxna opened #31 "Changing the Time"
Hello! Is there anyway to correctly put the time or keep the time up to date with my current one? Mine is stuck at 4:54 PM

[2020-11-07 22:27] mzeryck commented on #31
Currently, there is no way to display the time on a Scriptable widget. It may be possible in the future if the developer adds this functionality.

[2020-11-07 22:34] shamxna commented on #31
Gotcha, thank you for your work and for responding! I’m looking forward to more features you’ll be adding 👍!

[2020-11-08 04:33] italoboy commented on #25
Hi,

I put the code under locklocation , it worked but only by turning on the location service each time and if I don't enable location service it wont't load and says "this can be changed from the system settings", if possible to read the location data once like weather api for the first time script running?!

![image](https://user-images.githubusercontent.com/61342502/98457022-af04b900-2198-11eb

[2020-11-08 10:31] suxus-zz commented on #30
Hello, I have adapted / expanded your code a little for my needs.

- if you don't choose a background image and you don't want the gradient, you can define a background color
- The week number is also given in the date
- Battery color on green
- the current Covid information
- Texts in german
- Rain Precipitation in percent (in the future 1h or tomorrow)

I have not yet started the combination of

[2020-11-08 13:34] firekollege commented on #25
is it possible to insert the battery level from an applewatch?
many thanks.

[2020-11-09 09:40] igregma commented on #30
Is it cool if I capture this isssue to add my own idea :-)

I would like an option to only show tomorrows event if it's later the day, like the option for tomorrow weather!

suxus-zz, I would like to get these covid code :-)

[2020-11-09 10:02] suxus-zz commented on #30
Hello, I can make my adjustments/extensions available, but since the widget comes from @mzeryck , I definitely want him to give it okay. I actually just wanted to customize the widget for my needs.

Yesterday I also expanded the widget for myself so that events and reminders are no longer displayed separately and so they are then displayed chronologically, regardless of whether an event or a remin

[2020-11-09 14:54] #31 closed

[2020-11-09 14:54] mzeryck commented on #30
@suxus-zz Thanks for your contributions! You would definitely be welcome to submit a pull request with your new code. As for why there is so much space, it has to do with the LAYOUT section - the `space,` element is a flexible space, which pushes content to the edges of the widget.

@igregma I like your idea about tomorrow's events! I would recommend opening a new issue with this suggestion.

[2020-11-09 14:56] igregma commented on #30
...will do :-)

[2020-11-09 14:58] igregma opened #32 "Improvement Request: "Tomorrow" events only in the evening"
I would like an option to only show tomorrows event if it's later the day, like the option for tomorrow weather!

[2020-11-09 15:30] suxus-zz commented on #30
Hello
I do a new branch and make a pull request (it's my first i hope it's works).

regards

Thats a screen from my current version
![IMG_1223](https://user-images.githubusercontent.com/17749132/98561111-c632cc00-22a8-11eb-905f-499439c0a186.jpeg)

[2020-11-09 16:52] noemi360 commented on #30
Can any one of you guys send me the code you used for your widget so I can make mine from it and use it as a guide thx

[2020-11-09 17:01] noemi360 commented on #30
Can  send me the code you used for your widget so I can make mine from it and use it as a guide thx

[2020-11-09 21:10] TheRealEvan584 opened #33 "Add Reminders When Listing Possible Elements in the Layout Section"
In the layout section of the code when listing possible items you forgot to mention reminders. This is the smallest of small changes but I guess it should be said. Thanks in advance.

[2020-11-10 16:40] themicmaine commented on #33
The new version of your widget doesn't automatically refresh

[2020-11-11 02:19] TheRealEvan584 commented on #33
@themicmaine I know I can just copy the updated code.

[2020-11-11 02:25] mzeryck commented on #25
@italoboy Let me think more about this. I wrote the code assuming Scriptable would always have location access.

@firekollege Unfortunately, this is not currently possible in Scriptable.

[2020-11-11 06:08] suxus-zz commented on #30
@igregma
Hello, I expanded my code so that you can choose whether the events and reminders from today or the next 24 hours should be displayed.
My days are visually separated by a fine red line.
Many greetings

![IMG_1230](https://user-images.githubusercontent.com/17749132/98775036-9391ec00-23ec-11eb-83e4-5886c33d7a57.jpeg)

[2020-11-11 18:23] igregma commented on #30
Looks great suxus-zz!
Looking forward to see your improvement merged here :-)

[2020-11-11 19:22] Dimakap opened #34 "Reminders"
Hi.

I have an issue with the Reminders on this widget. It only shows me the Verträge Reminder and not the other i have.

I didn't changed anything Reminder based in the script.

Thanks
![image](https://user-images.githubusercontent.com/73642725/98854958-8f50e780-245b-11eb-9dbe-2d0cf7f8542e.jpeg)

[2020-11-12 06:51] mzeryck commented on #30
@suxus-zz Hmm, I'm not able to see any pull requests here (or forks on your profile). I'd definitely still be open to it, if you'd like!

[2020-11-12 06:52] mzeryck commented on #33
@TheRealEvan584 This should be fixed in the newest version :)

[2020-11-12 06:52] #33 closed

[2020-11-12 06:56] mzeryck commented on #34
Can you try creating a new script, and pasting in this code:
[code]
Does this show all of your reminders as expected?

[2020-11-12 07:19] suxus-zz commented on #30
Hmm i make a pull request but i think i make something wrong (it was my frist time). Have you a email that i can send you my current version?

[2020-11-12 13:20] deroverda opened #35 "AM/PM to 24 hour clock"
Hi again,

Title is pretty self-explanatory. for example right now the widget shows me that the sun will go down at` 3:51 PM` but I prefer to view the time as `15:51`.
After midnight would be `03:51` instead of `3:51 AM`.
Is this setting possible to change?

Thanks in advance.

[2020-11-12 14:27] Dimakap commented on #34
Yes. This works

[2020-11-12 16:14] suxus-zz commented on #35
Hello
If you set to

let locale = "de"

then you have 24 hour clock

regards

[2020-11-12 16:39] deroverda commented on #35
@suxus-zz thanks for the reply. and yes, this makes the clock show it in the way I want but it also switches the widget language to german. I want everything in the original language (en) but I just want the clock displayed like I wrote above.

[2020-11-12 16:48] mzeryck commented on #35
@deroverda It looks like Scriptable does not obey the iOS "24 hour time" setting. However, if you change your locale to "en_GB" it will work and remain in English.

[2020-11-12 16:55] deroverda commented on #35
@mzeryck brilliant! it works. thank you so much.

[2020-11-12 16:55] #35 closed

[2020-11-12 20:01] sleepyhellow commented on #30
Is it possible to see the events and reminders for the next 10 days and the text starts on the top and at the Button?

[2020-11-12 20:02] mzeryck commented on #25
@italoboy Hey, can you try downloading the newest version of the script? You will need to turn on location during setup, but after that, I believe it should work. Please let me know.

[2020-11-12 20:04] mzeryck commented on #30
@suxus-zz Hmm, it looks like the branch is even with my branch. If it's easier, you can upload your code here: http://gist.github.com and send me the link! I would be happy to look at integrating some of these features, and working with you on a pull request and crediting you.

[2020-11-12 20:04] mzeryck opened #36 "Time-based events and reminder display"
Is it possible to see the events and reminders for the next 10 days and the text starts on the top and at the Button?

_Originally posted by @sleepyhellow in https://github.com/mzeryck/Weather-Cal/issues/30#issuecomment-726309496_

[2020-11-12 20:05] mzeryck commented on #36
@sleepyhellow Can you explain your request about the text on the top and bottom a bit more?

[2020-11-12 20:07] mzeryck commented on #34
Hmm, can you try looking at the reminders settings in the script? Specifically, the numberOfReminders, showWithoutDueDate, and showOverdue settings would affect the display of reminders.
![Screen Shot 2020-11-12 at 12 07 05 PM](https://user-images.githubusercontent.com/71023727/98990716-adf8c200-24df-11eb-841f-f5e78c3ab340.png)

[2020-11-12 20:20] suxus-zz commented on #30
@mzeryck i send you a invite to my repo i hope it's works so.

[2020-11-12 20:22] sleepyhellow commented on #36
The text (events/reminders) are at the button of the widget. I would like to see it on the top (under weather text)

[2020-11-12 20:43] farovitus opened #37 "WeatherCal v2 message"
Hey @mzeryck thanks for the new update tho i have a little feedback about how the message is showing now, below is an example of how v2 shows it
![image](https://user-images.githubusercontent.com/26744124/98994254-3014d500-2538-11eb-85cc-ab298740d8ba.jpeg)

On v1 it used to show it like this
Enjoy the rest of your day, [name].

Anyway to revert this minimal change ?

[2020-11-12 21:03] tie82 opened #38 "weather forecast"
Just added the option to display forecast for the next 2 days including today:
If you like it, feel free to add it to the main repo

![file](https://user-images.githubusercontent.com/38699731/98996141-a9112e00-2532-11eb-8bd4-da2403f77a58.jpeg)

https://github.com/tie82/Weather-Cal

[2020-11-12 22:45] noemi360 commented on #37
How did you make it transparent

[2020-11-12 22:50] jianyu-li commented on #36
@mzeryck is there a way to just show reminders that are due today?

[2020-11-12 22:53] jianyu-li commented on #36
Well today and overdue

[2020-11-13 01:44] TheRealEvan584 commented on #37
@farovitus I agree this should be changed.

@mzeryck This same thing happens with the greeting. In v1 the whole greeting + my name fit on 1 line, but in v2 only the greeting is on the first line, my name is on the second. I would like it to fit on one line because it is more compact.

@noemi360 To make the background transparent you need to use another script to capture a part of your wallpaper wh

[2020-11-13 02:20] mzeryck commented on #37
@farovitus @TheRealEvan584 I changed the default layout in v2. A lot of people never change the default layout, and this one works better in both medium and large widget sizes. But it's really easy to change to the old version. Just change the layout to this:

[code]

With events on their own row, they can take up the full width of the widget.

[2020-11-13 02:23] mzeryck commented on #30
@suxus-zz Thanks for the invitation! I'll take a look at it soon, I may not have time before this weekend.

[2020-11-13 02:45] TheRealEvan584 commented on #37
@mzeryck Thanks for the tip!

[2020-11-13 04:54] farovitus commented on #37
@mzeryck ah, it feels already much better now with this change. What's the reason behind your change if you don't mind me asking

[2020-11-13 04:57] italoboy commented on #25
Thank you mate, it is fine now and everything is perfect.😇👍🏻🥇

[2020-11-13 05:22] mzeryck commented on #25
@italoboy Awesome!! Thanks for being so patient and glad it works!!

[2020-11-13 05:22] #25 closed

[2020-11-13 05:24] mzeryck commented on #37
@farovitus The old default looks horrible in a medium widget, so I changed the default. But I always intended for people to make their own layout customizations! :)

[2020-11-13 05:24] #37 closed

[2020-11-13 07:09] yuyuye84 commented on #36
Edit Weather Cal code.js. Around line 800. the function shouldShowReminder()
among several ifs, add another if like below:
`if ((new Date().setHours(23,59,59,999) - reminder.dueDate) < 0) { return false }`

FYI. It's quite a rough solution, and would be lost if you "update code".

[2020-11-13 08:50] Dimakap commented on #34
I played around with the reminders settings on the script but it doesn't list my standard icloud reminders.

Maybe i need to add some of my icloud information to the script?

[2020-11-13 14:50] mzeryck commented on #27
@Elboa99 Hey, moving this back over to Weather Cal. The easiest way to get transparent backgrounds is to use this script: (click this link on your phone): https://scriptable.app/gallery/transparent-widgets

[2020-11-13 19:08] Elboa99 commented on #27
Alright thanks a lot

[2020-11-13 19:09] jianyu-li opened #39 "[Request] Change Event from Start Date to End Date"
Hi @mzeryck

Would it be possible to change line 748 in the Weather Cal code.js file to

`return (event.EndDate.getTime() > currentDate.getTime())` ? Or at least make it an option?

This would mean the event would still show even if it has already started (sometimes I'm late!). Then it goes away once the event is over.

Thanks for your consideration!

[2020-11-13 23:47] arealhen opened #40 "iPhone 12 Mini"
Hi, could you please update the script to support iPhone 12 mini? I can’t get my background to match up with the widget. Thank you!
![968FC49D-6EF1-415E-90D3-BF9D6FCDF926](https://user-images.githubusercontent.com/74436281/99131268-9c600900-260a-11eb-8a0d-e30dad3f9365.jpeg)

[2020-11-13 23:49] vesparider commented on #40
Same goes for the new iPhone 12 Pro Max - its support would be great.

[2020-11-14 15:44] mintakka commented on #40
I noticed this issue to. The problem isn't actually in this script but rather in the script used to generate the "transparent" background image.

I managed a temporary fix you can implement yourself. See my issue log and comment over in the correct script

https://github.com/mzeryck/Widget-Blur/issues/2

[2020-11-14 22:50] dennisostlaender opened #41 "Can't find variable: SFSymbol"
Hi, I went through all the steps of setting up the widget and when I try to preview it it gives me an error.
"Exception Ocurred
Error on line 1527:50: ReferenceError: Can't find variable: SFSymbol"

[2020-11-14 23:35] mzeryck commented on #40
@arealhen Thanks for bringing this up, and thank you @mintakka for the adjustments! I would be happy to implement this fully & confirm the new measurements. Would either of you be willing to take a screenshot of a home screen full of small widgets? You don't need a fully white background, but it is helpful to have contrast between the widgets and the background image:
![8F30440C-9CB1-47D3-AA9A-A70

[2020-11-14 23:36] mzeryck commented on #41
Hi Dennis, can you confirm which version of Scriptable you're using? From the main page of the app, tap the gear in the top left, then About, to see the version number.

[2020-11-14 23:39] mzeryck commented on #38
This is cool! I will admit, I am not sure how to merge this in without a pull request, please feel free to submit one!

[2020-11-14 23:41] mzeryck commented on #39
Ah, I think this is a good idea! I think I will work on adding the ability to adjust this amount - for example, waiting 5 min versus 15 min.

[2020-11-14 23:42] mzeryck commented on #36
I can look into adding a setting here! I personally don't use Reminders, so the existing code is based on someone else's work. Scriptable does provide a few built-in options for grabbing the reminders, so I can look into this.

[2020-11-14 23:44] mzeryck commented on #34
That is odd. They don't show up even if you set `numberOfReminders = 0` and use a large widget?

[2020-11-14 23:46] jianyu-li commented on #36
Great! Thank you!

[2020-11-14 23:47] jianyu-li commented on #39
Cool!

[2020-11-14 23:48] arealhen commented on #40
Sure, no problem - hope this is okay:
![Uploading 88C10277-8240-47CE-A6B2-4563CBA193BB.png…]()

[2020-11-14 23:53] #27 closed

[2020-11-15 00:01] dennisostlaender commented on #41
Holy smokes! I was way behind on the updates. I guess I wasn't used to not having automatic updates on TestFlight. I was on version 1.5.1 but am now on 1.6. It works flawlessly now, that is embarrassing ha. Thank you so much for the reply though!

[2020-11-15 00:01] #41 closed

[2020-11-15 00:44] mzeryck commented on #40
@arealhen Thank you so much! The newest version should now work correctly on the mini. Let me know if you have any other issues!

[2020-11-15 03:24] HelloSmithers commented on #39
Could reminders also be shown in the reverse order of what is in the picture attached?
![unnamed](https://user-images.githubusercontent.com/74478544/99162133-3d0b1180-274e-11eb-8fca-4c8a9755b823.png)

[2020-11-15 08:51] marvelousmo1 commented on #36
Mzeryck, That`ll be so nice if you could implement what jianyu-li suggested, so I can see only the overdue and the today reminders. Would it be possible to implement as well when a reminder is tapped that the reminder app will actually open?

Thank you soo much for this great script!

[2020-11-16 01:15] mzeryck commented on #30
@suxus-zz Hi, thanks again for your adjustments! I would definitely like to merge in the rain percentage and COVID information. It looks like your code is using a slightly older version of the script - would you like to submit a pull request with an update, or would you be OK with me adapting your code and giving you credit? Let me know, thank you!

[2020-11-16 01:27] mzeryck commented on #32
Sorry it took me so long - this is now available! You can use the "Update code" function if you run the widget code in the Scriptable app, and then change `showTomorrow` to the hour you want it to display (for example, `20` for 8pm)

[2020-11-16 01:27] #32 closed

[2020-11-16 01:48] mzeryck commented on #36
@jianyu-li This setting is now available! You can set `todayOnly` to `true`. The settings for overdue tasks and tasks without due dates are still separate settings - so you can pick any combination. Hope this helps!

@marvelousmo1 Regarding tapping each item, I tried and was not able to get it to work. Reminders do have a URL scheme, but for some reason Scriptable doesn't seem to allow it to work.

[2020-11-16 01:48] #36 closed

[2020-11-16 01:49] mzeryck commented on #38
This has now been merged into the main branch.

[2020-11-16 01:49] #38 closed

[2020-11-16 03:50] mzeryck opened #44 "Reminder sorting"
Could reminders also be shown in the reverse order of what is in the picture attached (on the right hand side)?
![unnamed](https://user-images.githubusercontent.com/74478544/99162133-3d0b1180-274e-11eb-8fca-4c8a9755b823.png)

_Originally posted by @HelloSmithers in https://github.com/mzeryck/Weather-Cal/issues/39#issuecomment-727357364_

[2020-11-16 03:51] mzeryck commented on #44
@HelloSmithers Can you tell me more about how you'd like the reminders to be sorted?

[2020-11-16 03:52] mzeryck commented on #39
@jianyu-li The newest version of the code has this feature! If you want to update without changing your other widget settings, you can run the "Update code" function, and then add this setting to the EVENTS section:
[code]
Please let me know if that works OK!

[2020-11-16 03:55] jianyu-li commented on #36
It’s...beautiful. Thanks @mzeryck !

[2020-11-16 04:01] jianyu-li commented on #39
You are on a roll tonight! Thanks!

[2020-11-16 04:05] mzeryck commented on #39
This is what weekend procrastination looks like 😅 and no problem!

[2020-11-16 04:05] #39 closed

[2020-11-16 04:06] jianyu-li commented on #39
Also thanks for telling me what line to add so I didn’t have to update my whole thing! Very helpful when you have it fine tuned just right :)

[2020-11-16 04:16] jianyu-li opened #45 "Sunrise and Sunset elements do the same thing"
So I know that it changes based on the time of day. But it seems like it doesn’t matter if I put sunrise or sunset in the layout it does the same thing. I wonder if maybe we should have a third option that does the same behavior as it does today (dynamically change) and have sunrise and sunset only show those respective elements. Thoughts?

[2020-11-16 04:22] jianyu-li commented on #45
Here’s what I mean
![539F1332-4E4E-4324-A6F7-5E0F3AA8E02A](https://user-images.githubusercontent.com/52750081/99212567-35fcf700-2780-11eb-84ab-57c1a9b73446.jpeg)
![Uploading DA5AA997-34A4-4C97-BCBF-4D0EDC2376BC.jpeg…]()

[2020-11-16 05:56] suxus-zz commented on #30
Hello, no problem you can adapting my code and so we have all the same code for the future.
Thank you very much

[2020-11-16 08:22] HelloSmithers commented on #44
Notice how the reminders go 15 Nov, 16, Nov 15 Nov? I'd prefer they go 15 Nov, 15 Nov, 16 Nov.

Reminders don't have to have a time attached so not sure how easy this is

[2020-11-16 10:18] Stahl80 opened #46 "Show events that already started"
Hi.

Thanks for your excellent script!!!

Is there a way to display events that started and have them disappear when they end?

[2020-11-16 14:38] jianyu-li commented on #46
In the events section on the newest version there’s a spot to specify how many minutes after an event has started to show it. Looks like this

`// Minutes after an event begins that it should still be shown.
,minutesAfter: 30 `

[2020-11-16 15:53] Stahl80 commented on #46
I updated the script but I can’t see that section. Can I manually add it in?

[2020-11-16 16:26] jianyu-li commented on #46
Yeah just copy that but of code into the events section

[2020-11-16 16:28] jianyu-li commented on #46
The update button just updates the main code but not the script you add all your settings

[2020-11-16 16:30] Stahl80 commented on #46
Thanks!
I tried it, couldn’t get it to keep showing the event and the upcoming event next day stopped showing.

Made a new with the updated code but that behaves the same way and next day event are not there.

[2020-11-16 16:39] Stahl80 commented on #46
Thanks! Managed to solve it :).
Great work you made with this, looks good and a lot of customization available!

One thing I thought about, is it possible to make the battery symbol green (not the percentage) it turns red when low battery but for me it would look good with green when it’s over 20%, now it’s white.

[2020-11-16 17:52] marvelousmo1 commented on #36
Cool Max, Thank you soo much!!
Moritz

[2020-11-16 18:53] igregma opened #47 "Dynamic date broken"
I just downloaded the latest version, looks like the display of large date is broken?
I double checked that dynamic date is set to true... the "no events message" is also displayed on the widget.
Of course low priority ;-)

[2020-11-17 08:46] xisintag opened #48 "How to set the desired Calendar to be shown?"
I was wondering what to put in between the brackets to display only specific calendars?

[code]

[2020-11-17 14:06] jianyu-li commented on #48
@xisintag heres an example

`_,selectCalendars: ["Work", "Family", "Holidays in United States", "TV Time Calendar", "Contacts"]_ `

[2020-11-17 14:43] adamengineering commented on #48
Thx, that works!

[2020-11-17 22:32] blahsd commented on #44
For me currently they appear sorted by when creation date. I also would love them sorted by due date!

[2020-11-18 05:28] mzeryck commented on #30
@suxus-zz Thank you again for your code! I've added the COVID and rain percentage features to Weather Cal, with a few tweaks. I am going to close this issue, but don't worry, I will also update the events/reminders.

[2020-11-18 05:28] #30 closed

[2020-11-18 05:28] #40 closed

[2020-11-18 05:48] mzeryck commented on #46
Thanks @jianyu-li for helping out! @Stahl80 It would be possible to make it green, but since I am trying to match the status bar style, I'm not planning to add that feature.

[2020-11-18 05:48] #46 closed

[2020-11-18 05:48] mzeryck commented on #47
Hmm, that's weird! It's still working for me. Did you use the "Update code" feature?

[2020-11-18 05:48] #48 closed

[2020-11-18 05:51] mzeryck commented on #44
@HelloSmithers @blahsd I am happy to report that they now sort in order! You can just run the "Update code" option from the widget settings menu.

[2020-11-18 05:52] igregma commented on #47
Yes... several times.
Possible that it's because I have some calendars with events, I just didn't choose for display?

[2020-11-18 06:19] mzeryck commented on #45
I've added this feature in the most recent version. If you use the Update code function, and then add this to your widget settings:
[code]

[2020-11-18 06:19] #44 closed

[2020-11-18 06:19] #45 closed

[2020-11-18 06:28] mzeryck commented on #47
Ah, this is a bug! If you update the code again, it should now work correctly.

[2020-11-18 06:34] igregma commented on #47
...confirm :-)
Thanks!!

[2020-11-18 06:34] #47 closed

[2020-11-18 16:00] adamengineering opened #49 "Reminders"
Todays update broke the Reminders filter on my device. No matter what NUMBER I have in

`// How many reminders to show. Use 0 for all.
    numberOfReminders: 0`

it displays all Reminders with a due date, prior to this release it only showed the NUMBER I wanted

[2020-11-18 21:41] blahsd commented on #44
Dude yessss you’re the man

________________________________
From: Max Zeryck <notifications@github.com>
Sent: Wednesday, November 18, 2020 6:52:09 AM
To: mzeryck/Weather-Cal <Weather-Cal@noreply.github.com>
Cc: Rick <blahsd101@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [mzeryck/Weather-Cal] Reminder sorting (#44)

@HelloSmithers<https://github.com/HelloSmithers> @blahsd<https:/

[2020-11-19 01:26] mzeryck commented on #49
Sorry about that! Please run the update again, this bug should now be fixed.

[2020-11-19 01:51] lcar8ter commented on #49
I am receiving and unexpected end of script line 1985... anyone else get this?

[2020-11-19 07:06] adamengineering commented on #49
Thx! Much appreciated ;-)

[2020-11-19 11:59] lcar8ter commented on #44
Sorting is great how do you see the COVID section in the widget?

[2020-11-19 12:22] lmk4824 opened #50 "Weather"

[2020-11-19 12:23] #50 closed

[2020-11-19 15:42] mzeryck commented on #49
@lcar8ter You just need to add "reminders" to the layout section of the script! Depending on what layout you're using, you might need to rearrange things. Let me know if you need help.

@adamengineering There are two ways you can do this. Submitting a pull request allows you to provide your changes directly into the project, and it automatically credits you when I approve the change. Some people w

[2020-11-20 08:00] adamengineering commented on #49
Let me try to submit a pull request ;-)

[2020-11-20 16:40] ivyte opened #53 "The weather isn’t updating"
I don’t know why but the weather stopped updating. And now is metric instead of imperial. I’ve tried “reset the widget”, “re enter the API key” and even deleted the script and installed it again but it still shows the same weather from 3 days ago.

Also, the other scripts I have work fine with the same API key. Is there some way to fix it? Thank you!

[2020-11-21 02:06] #49 closed

[2020-11-21 10:01] anonym6373 opened #54 "Weather error"
Hi,

I have a problem with this widget because if I try to run the script or try to add it to my homescreen, i get the error message “undefined is not an object (evalating ‘weatherDataRaw.current.temp’) so I can’t use it. Please help my by fixing this error because I really want to use this widget without issues.
Thank you!

[2020-11-21 10:04] anonym6373 commented on #54
![7696DAB7-3A47-47B1-86C5-138E1A377E0A](https://user-images.githubusercontent.com/74816014/99874558-31ee3080-2be9-11eb-842f-689709b6e30d.png)

This is a preview of the issue.

[2020-11-21 14:43] TheRealEvan584 commented on #54
I had a similar issue when I first downloaded the widget too. Usually it has to do with your weather API. Make sure you typed in your API key correctly where it tells you to do so. If you just got your weather API key, it can take up to 24 hours for the key to activate so you might just have to wait.

[2020-11-21 15:17] deroverda commented on #54
![Error after latest update](https://user-images.githubusercontent.com/70813982/99880633-ec475d00-2c14-11eb-838c-6649a253107b.jpeg)

[2020-11-21 15:17] deroverda commented on #54
@mzeryck widget error after latest update.

[2020-11-21 15:44] mzeryck commented on #53
That is very odd! Can you copy this code into a new script, and tell me what happens when you run it? You may need to slide up to show the console:
[code]

[2020-11-21 16:20] mzeryck commented on #54
@deroverda I believe I have fixed this, please run the update again and let me know if it works!

[2020-11-21 16:52] deroverda commented on #54
Working! Thanks. What was the problem?

[2020-11-21 17:12] mzeryck commented on #54
@deroverda It was basically a misalignment between the settings and the code. When you update, it doesn't overwrite your settings - but that means when new settings are added, they aren't added when you update. In this case, either the "covid" or "week" items were looking for their font settings and couldn't find them. The update makes sure the default font is used when those settings are missing.

[2020-11-21 17:38] ivyte commented on #53
It’s working now! Thank you so much

[2020-11-21 17:41] #53 closed

[2020-11-21 17:50] drakerienert opened #55 "Reminders Sort Fix"
@mzeryck I think the Reminders code needs a slight tweak to correctly sort by date. I put my suggestion below. Correct me if I am wrong, I am very much a for fun amateur programmer, but this tweak worked for me.

I switched the order of the sort and filter/slice functions (sort first and filter/slice second). Originally, the only reminders that were properly sorted by date were the first 3 (number

[2020-11-21 18:21] mzeryck commented on #55
@drakerienert Ah yes, you are totally right about that! I think what happened is that two different bug fixes ended up creating this third bug. Which, like you mentioned, I didn't notice since I don't use reminders! Whoops.

Your fix looks right to me - the only thing I noticed here, which might've just been due to copy/pasting into the comment, is that `let reminders = await Reminder.allIncomplet

[2020-11-21 18:44] TheRealEvan584 opened #56 "Chance of Rain saying “NaN”"
I have the latest version of Weather Cal and I am unable to see the chance of rain.
![8FAF195E-9A56-4553-B076-DA64F5383637](https://user-images.githubusercontent.com/73755743/99884963-ab911900-2bff-11eb-97ff-d530705b5622.png)

[2020-11-21 20:09] mzeryck commented on #56
Thanks for submitting this, there were a few bugs in the weather data. If you run the update code, it should work now!

[2020-11-21 20:09] #54 closed

[2020-11-21 20:10] mzeryck commented on #34
I'm going to close this issue since I haven't heard back in a week - but please reopen it if you're still having issues on the latest version.

[2020-11-21 20:10] #34 closed

[2020-11-21 20:20] drakerienert commented on #55
@mzeryck Good catch, I didn't mean to move the `let reminders` line. I submitted a pull request, hopefully I did it right. Thank you!

[2020-11-21 20:20] #55 closed

[2020-11-21 20:32] TheRealEvan584 commented on #56
It works now, thanks!

[2020-11-21 20:32] #56 closed

[2020-11-21 20:41] aldryk77 opened #58 "Covid & sunrise/sunset"
Hi.
I love the code! very professional!

I am having 2 issues -
1. Covid shows USA data, although i changed location to Israel. not sure why..
2. I added Sunrise and Sunset, but i get double sunrise on the widget.

Thanks
Roi

[2020-11-21 21:15] TheRealEvan584 commented on #58
I don’t know how to fix the Covid issue but I can assist you in the sunrise/sunset issue.

By default, the sunrise and sunset elements do the same thing. When it is closer to sunset both elements will display the sunset. When it is closer to sunrise both elements will display the sunrise. If you want to separate the sunrise and sunset widget so the sunset element only displays the sunset and the s

[2020-11-21 21:40] mzeryck commented on #58
Thanks for helping with the sunset/sunrise, @TheRealEvan584! As for the COVID issue @aldryk77, you actually need to set the country name in the COVID settings, separately from the location. (See the attached screenshot.) This is because the COVID data source uses different country names than iOS does, which is why there are two separate settings. Let me know if that works!
![IMG_B1FCC51EAC0B-1](ht

[2020-11-21 21:45] aldryk77 commented on #58
Thanks,!

I did try to set the country in the configuration. Same as u show below.
Did not help.
Also tried short code IL. Still no go

Roi

On Sat, 21 Nov 2020 at 23:40 Max Zeryck <notifications@github.com> wrote:

--
Aldryk

[2020-11-21 21:53] tec1106 opened #59 "3 digit temperature"
According to the weather widget the degrees tomorrow will be 276 degrees Celsius. Although it might be a sign of the end times, I’m hopeful it’s just a bug.

Location set to no-NO and metric units. Weather in a column to the right (default setting).
![42390A03-BEED-4E92-8A9A-49C97EEAFD1E](https://user-images.githubusercontent.com/8567603/99888526-d0ac7880-2c4d-11eb-82cc-e5c152afe217.jpeg)

[2020-11-22 00:28] ivyte commented on #58
Check this page
[COVID 19 API](https://coronavirus-19-api.herokuapp.com/countries/)
It helped me to change the info

[2020-11-22 07:11] aldryk77 commented on #58
Thank you all! it worked!

[2020-11-22 07:11] #58 closed

[2020-11-22 07:31] Stahl80 opened #60 "Forecast font size"
Is there a way to change to font size of the forecast?

I changed for the current weather:
  largeTemp:   { size: 34, color: "", font: "light" },
    smallTemp:   { size: 12, color: "", font: "" },
    tinyTemp:    { size: 12, color: "", font: "" },

But I can’t find any setting for the forecast temperature.

[2020-11-22 11:30] adamengineering commented on #60
The temperature for the forecast uses this

`tinyTemp: { size: 12, color: "", font: "" },`

[2020-11-22 20:17] ivyte commented on #59
Is it correctly written? It happened to me when I wrongly wrote “inperial”

[2020-11-22 20:18] aschilling opened #61 "Configure default apps for items & reminders"
Hi Max,

thank you so much for sharing your code with us. It helped me a lot in customizing my homescreen. However, one thing I don't understand is how to touch targets (the app which open) for the events items are defined. Is it possible to open the events and reminders items not in the system defaults but with other apps e.g., Calendars from Readdle?

Best regards
Andreas

[2020-11-23 07:03] #60 closed

[2020-11-23 07:05] mzeryck commented on #61
Hi Andreas, I'm glad you like Weather Cal! It's potentially possible to change those, although in many cases, there's no way to do it. For example, I haven't been able to make the reminders open in the Reminders app. For other apps, it's possible if they have a URL scheme. I can look into adding this!

[2020-11-23 07:06] mzeryck commented on #59
This is very odd! I haven't been able to reproduce this bug - have you double-checked the settings like ivyte suggested?

[2020-11-23 07:19] Stahl80 opened #62 "Covid"
Not so much an issue. But I was wondering if you would be able to add daily new cases for the COVID section.

And thanks for all the work you put in to this 🙏

[2020-11-23 10:14] tec1106 commented on #59
`/*

~

Welcome to Weather Cal.
Run this script to set up your widget.

You can duplicate this script to create multiple widgets. Make sure to change the name of the script each time.

Adjust the layout and other settings below.
Happy scripting!

~

*/

/*
 * SETTINGS
 * Adjust the settings of your widget.
 * ===================================
 */

const settings = {
  widget: {

    // Set the l

[2020-11-23 10:16] tec1106 commented on #59
[code]

[2020-11-23 10:17] tec1106 commented on #59
Checked, but can’t see antyding wrong

[2020-11-23 11:53] koalaparque commented on #59
![image](https://user-images.githubusercontent.com/74846279/99959219-f2cd0480-2dcd-11eb-8f8d-62458cb51a1d.jpeg)

It doesn't work for me either.

[2020-11-23 12:38] tec1106 commented on #59
Solution: I used locale 'no-NO' which is the locale shown by weather.com. I changed it to 'no' and the problem was solved.

@koalaparque maybe setting a location using 'xx' can solve it for you too

[2020-11-23 12:38] #59 closed

[2020-11-23 13:19] aschilling commented on #16
Hi,
I found the following workaround for enabling different backgrounds for light and darkmode in an automator forum:

[code]
Using this function and modifying the loading process of the image in the the following way:
[code]

So far, the code works well, however, only when manually triggering a widget preview via the Scriptable app beforehand. On its own it doesn't refresh the background. Do you

[2020-11-23 15:41] caslan34 commented on #61
here it is. `reminderStack.url = "x-apple-reminderkit://REMCDReminder/`

[2020-11-23 16:38] caslan34 commented on #62
Of course... go to code of Weather Cal, change code under localization
`covid: "{todayCases} Cases, {todayDeaths} deaths, {active} Active" `

[2020-11-23 17:07] jhatto opened #63 "Exception/invalid argument"
Hey Mzeryck and other contributors, appreciate the work done on this project and the transparent widget maker.

I’m attempting to run the cal widget script but am getting an “error: The operation couldn’t be completed. Invalid argument” prompt upon running. I checked the other resolved issues and have confirmed I entered in the openweather api key and scriptable has location access. There is no li

[2020-11-23 17:16] jhatto commented on #63
So somehow it started working? Guessing the api took after a couple hours. Thanks!

[2020-11-23 17:16] #63 closed

[2020-11-23 17:18] mzeryck commented on #61
@caslan34 I searched all over and couldn't find this - thank you! Would you be willing to submit a pull request with this added?

[2020-11-23 17:41] aschilling commented on #16
Sorry, I was wrong. My code works, the update intervall was just lagging behind the rest of the widget. Let me know if it works for you

[2020-11-23 17:49] caslan34 commented on #61
@mzeryck firstly thank you for this widget.

I do not want to update now, because I added something.

I have two suggestions.
First, check attached picture. You will see, I added widget two reminders list. If you can, when we add two list in `selectList`, program must show both of lists. But also `numberOfReminders` Must be for two lists.

Second, if you can find code about background of widget to

[2020-11-23 18:32] icsAT opened #64 "Open framework for third party functions"
Hello Max,

great script and good and well documented code. Actually I do not really have an issue. It's more a question or a request.

In a German Facebook group we had the request of displaying the Data Usage or to be more precise the Data left from your T-Mobile data plan. This is how I got pointed to your work. I took your source code from the Scriptable Gallery (wich is quite old) and quickly

[2020-11-23 19:25] igregma commented on #16
Sounds Great! @mzeryck can you update your code with these new infos?

[2020-11-23 19:29] igregma opened #65 "Minor bug with tomorrow events"
When select „20“ at the config the tomorrow events will shown not until 21pm, not 20pm.
For the weather it works right.

[2020-11-23 20:06] Stahl80 commented on #62
Thanks!

Not sure how I missed that or if it was updated.

[2020-11-23 20:07] TheRealEvan584 commented on #61
I would also like to know if it is possible to change the background of the widget depending on if your phone is in light or dark mode.

[2020-11-23 20:09] caslan34 commented on #62
No, this is code which I use... @mzeryck maybe he will put in code like options....

[2020-11-23 20:34] mzeryck commented on #62
I will leave this issue open so I remember to document the available data types!

[2020-11-23 20:47] mzeryck commented on #65
Try running a code update, I believe I have fixed this!

[2020-11-23 21:01] caslan34 opened #66 "News"
hi @mzeryck,
Can you add news in widget? Maybe just one line. For example from cnn

Thanks

[2020-11-24 05:42] mzeryck commented on #61
@caslan34 Just so you know, if you run the "Update code" function from the settings menu, it will not reset your widget. So it's safe to do it! If you update, I added in customization for URL tap targets, and added your reminders URL (thank you!)
For your other two requests, I am not currently planning to implement them, although if you did you'd be welcome to submit a pull request.

@TheRealEvan5

[2020-11-24 05:43] mzeryck commented on #62
The newest update includes a list of all available {tokens}.

[2020-11-24 05:43] #62 closed

[2020-11-24 05:43] #65 closed

[2020-11-25 06:21] jianyu-li commented on #61
I wanted to just chime in here and let everyone know about a workaround for opening the iOS weather app when the weather items are tapped. I couldn’t find an X callback URL for this but there is one for the shortcuts app. If you create a shortcut called Weather that opens the weather app you can use this URL in preferences to trigger the shortcut. (Not perfect because it opens scriptable, shortcut

[2020-11-25 06:22] jianyu-li commented on #61
I did hear that opening apps from shortcuts doesn’t require opening the shortcuts app in the newest iOS beta so there may be a silver lining

[2020-11-25 11:35] igregma commented on #65
Tested yesterday evening and yes - works like charm :-)
Thanks!

[2020-11-25 23:24] polisyoon opened #67 "Test"

[2020-11-26 02:24] TheRealEvan584 commented on #67
If this is just a test issue then you should close this issue. Click the button towards the bottom of the screen that says “Close Issue”.

[2020-11-26 05:12] hetobias opened #68 "Error after setting up"
This is on iPhone 12 Pro Max.

Error that shows: Exception Occurred. Error: The operation couldn't be completed. Invalid Argument.

[2020-11-26 05:29] hetobias commented on #68
It was because of a VPN I was running.

[2020-11-26 05:29] #68 closed

[2020-11-26 15:29] TheRealEvan584 opened #69 "Can There Be an Option Where if There are No Reminders You Can Set a Specific Message to Be Shown Similar to Events?"
I just want a specific message to be shown if there are no reminders, just like when there are no events you can have a specific message.

[2020-11-26 20:07] sinusnode opened #70 "Lowercase date"
Hi!
Is there a way to change the date format to make the first letter uppercase?
When I change the language to Spanish it  changes to lowercase and I’d like to have the same format as the English version if it’s possible

Spanish
![DEC83A98-FDE0-40B3-850E-5845C67E2A3C](https://user-images.githubusercontent.com/75095308/100388536-7b2aef80-2ff0-11eb-961b-79b5c14ca129.jpeg)

English
![A078EE46-0D86-4

[2020-11-27 15:39] suxus-zz opened #71 "Error line 1342"
Hello

At the moment i have a error on

return (event.startDate.getTime() + minutesAfter > this.now.getTime())

Greeting
![IMG_1262](https://user-images.githubusercontent.com/17749132/100465125-14c8ce80-30cf-11eb-8071-f3acad12cdd1.jpeg)

[2020-11-27 17:33] mzeryck commented on #71
Thank you for submitting this! I fixed a bug in both events and reminders that I hadn't caught in the new update. If you update the code again, it should work!

[2020-11-27 17:33] #71 closed

[2020-11-27 17:35] mzeryck commented on #61
I'm going to close this issue since it was resolved. @jianyu-li I'm working on some better documentation, once it's a bit more ready I'd love to have you contribute this Shortcuts tip if you're interested. Stay tuned!

[2020-11-27 17:35] #61 closed

[2020-11-27 18:05] #67 closed

[2020-11-27 20:09] mzeryck commented on #64
Hi Andre, thanks so much for your request - it's actually something I had been working on for a while, and I'm really excited that it's finally ready! Please check out the [custom items section](https://github.com/mzeryck/Weather-Cal#custom-elements) of the readme file. Let me know if that makes sense, and please feel free to ask more questions, let me know about bugs, and share the custom items y

[2020-11-27 20:25] StratosHF opened #72 "TypeError: undefined is not an object"
After a week of using the script just fine I’m having an error coming up after going through an area with no service. I’ve reset my phone, reset the script everything I k ow how to do to fix it but nothing. Figured id ask for help.
![1D356798-57EE-47DA-969C-F42DCBAD6D3B](https://user-images.githubusercontent.com/74522642/100482228-a717a500-30c4-11eb-8097-d7d675449734.png)

[2020-11-27 20:54] StratosHF commented on #72
``

[2020-11-27 21:36] mzeryck commented on #70
Hi there, unfortunately there is not an easy way to do this. Scriptable uses the standard iOS region formats. You can see what your region looks like in the Settings app > General > Language & Region.
![IMG_0062](https://user-images.githubusercontent.com/71023727/100485605-8f84f000-30b5-11eb-9fed-d24e4c47a336.jpg)
If you are comfortable with Javascript, you could [override](https://github.com/mzer

[2020-11-27 21:36] #70 closed

[2020-11-27 21:37] mzeryck commented on #72
Hi there, this was a bug I accidentally introduced. It should be fixed now - try running Update code. (If doing that doesn't work, you might need to force-quit Scriptable and then run it again, I think it's caching stuff in the background.)

[2020-11-27 21:37] #72 closed

[2020-11-28 04:44] StratosHF commented on #72
Thanks for your work!

[2020-11-28 14:13] icsAT commented on #64
Hi Max, that sounds great. I will have a look at it.
Actually I never was a fan of widgets on my homescreen, because it took to much space for all the wanted informations. Your widget changed that. I now have the possibillity to put everything I need into a medium widget. Great work. I haven't expected that you have a resolution for my request so fast. You surprised me. Thank you. I will come back

[2020-11-28 19:27] caslan34 opened #73 "Up Next or Alarm"
Hi @mzeryck

How can we add alarm information? I was looking on Internet for alarm but i did not find any code. I think Apple does not provide yet for now...

[2020-11-28 20:14] mzeryck commented on #73
Unfortunately, you're correct - there's no way for iOS apps to get information about alarms. I'd love that too!

[2020-11-28 20:17] #73 closed

[2020-11-28 21:05] cutzenfriend commented on #64
@icsAT could you share your code? Greetings from Germany too ;)

[2020-11-28 21:42] icsAT commented on #64
@cutzenfriend you find the script here:

https://gist.github.com/icsAT/208512f71232c03f22ea3c2aeda14d3a

But its based on the old version of Max's Script from Scriptable Gallery. I am working on moving this functions to Max's actual weather-cal.js. It's looking good so far. I will provide that modification too, as soon as it works.

[2020-11-29 00:23] icsAT commented on #64
Hi Max (@mzeryck),

I could implement the items in the custom part of your script. It's running. The result (bottom) is almost the same as with the old (top) script:
![IMG_1270](https://user-images.githubusercontent.com/74063738/100528782-b55ae380-31e0-11eb-98a2-30cf708ffc3b.jpeg)

I was not sure, where to put the configuration part. I also used the custom section. Do you think that is alright?
So

[2020-11-29 01:34] mzeryck commented on #69
This option exists in the newest version!

[2020-11-29 01:37] mzeryck commented on #64
This is really awesome, thank you Andre! Your configuration looks great to me - I have been planning to add a feature where custom items can add their own preferences. Also, I want to make the preferences themselves be exportable, so they're easier to share rather than taking screenshots (which is the only way right now!)

I am also planning to make a wiki page, and I'd love to have your gist link

[2020-11-29 01:44] mzeryck opened #74 "Hourly forecast item"
Create an "hourly" item that functions similarly to the "forecast" item, but instead shows upcoming hours of weather. Idea from [Eduardo](https://twitter.com/IamEduardoD/status/1332718016946184192) on Twitter.
- Change spacing setting to "Spacing between items", add description text
- Add a "Number of hours shown" setting
- Add a "Time format for hourly item" setting
- Build the method using "futu

[2020-11-29 02:13] TheRealEvan584 commented on #69
Thanks!

[2020-11-29 02:13] #69 closed

[2020-11-29 07:56] ow410775 opened #75 "Additional preferences on Widget Setup"
Could you please add below items as additional preferences as part of the Widget Setup?
- size of the icons (weather and battery)
- upper and lower cases of the texts (dates, greeting, etc.)

[2020-11-29 08:00] ow410775 opened #76 "Run widget without internet"
Could you also make this widget run even if the phone is not connected on network/internet? If the widget has items that need network connection like weather -- it will not just display, or will display something like small line which will indicate that the particular feature/item needs network connection in order to display.

[2020-11-29 11:52] icsAT commented on #64
Thanks Max,

I am looking foreward to the improvements of your script. Your ideas sound great. Feel free to link my gist on your wiki.
Just give me a hint if you need someone to test any of the custom features.

I will close this request here now, since there are no open points on it at the moment.

Greetings form Germany

Andre

[2020-11-29 11:53] icsAT commented on #64
Wrong button, wanted to close it ;-)

[2020-11-29 11:53] #64 closed

[2020-11-29 23:22] hjm79 opened #77 "Celsius is not displayed even if metric is modified"
Celsius is not displayed even if metric is modified

Please help.

[2020-11-30 01:41] seacatos commented on #74
Could you consider to display forecast and hourly in horizontal layout, please!

[2020-11-30 07:15] mzeryck commented on #74
@seacatos These are both available in the newest update! You can add an "hourly" item to your layout, and you can set horizontal or vertical in the preferences editor!

[2020-11-30 07:15] #74 closed

[2020-11-30 07:17] mzeryck commented on #77
That's odd! Are you using Weather Cal from the Scriptable Gallery or directly downloaded from this GitHub project?

[2020-11-30 07:36] mzeryck commented on #75
Making a note that I'm working on these - [Illustrious_Maybe_41](https://www.reddit.com/r/Scriptable/comments/k2q1u3/weather_cal_now_supports_custom_items_including/ge0byg4/?utm_source=reddit&utm_medium=web2x&context=3) also requested this on Reddit.

[2020-11-30 21:47] hayashn opened #78 "Error on line 769:51: TypeError: undefined is not an object (evaluating 'weatherDataRaw.current.temp')"
Error on line 769:51: TypeError: undefined is not an object (evaluating 'weatherDataRaw.current.temp')

[2020-12-01 01:31] mzeryck opened #79 "Preferences error on first run"
As noted by [this Reddit user](https://www.reddit.com/r/Scriptable/comments/k2q1u3/weather_cal_now_supports_custom_items_including/ge68vq5/?utm_source=reddit&utm_medium=web2x&context=3)

[2020-12-01 01:33] mzeryck opened #80 "All-day events show up a day early"
As noted by [this Reddit user](https://www.reddit.com/r/Scriptable/comments/k2q1u3/weather_cal_now_supports_custom_items_including/ge2na0d/?utm_source=reddit&utm_medium=web2x&context=3)

[2020-12-01 01:59] #79 closed

[2020-12-01 02:00] mzeryck commented on #78
Hi, this usually means your OpenWeather API key wasn't added, or it's new and hasn't activated yet. Could it be one of those two things?

[2020-12-01 02:18] #80 closed

[2020-12-01 13:18] baby-bird opened #81 "Automatic background change with respect to sunset"
What could be done in
`custom`
section to get automatic background change with respect to sunset?
The passed `widget` variable contains no sunset data so there are limited code available without changing original code.

[2020-12-01 15:38] mzeryck commented on #81
Because `custom` is declared after `weather-cal-code` is imported into the `code` object, you have access to all of the Weather Cal backend. So if you want to use sunrise/sunset data, make sure this is at the top of your code:
[code]
Then, you can access the sunrise data. It's stored in milliseconds:
[code]
I know this isn't documented yet, but I want to do that soon!

[2020-12-02 13:14] FraserEmbrey opened #82 "Localised date format"
Is there a way to get the date and time to show in non-USA & 24hr format?

[2020-12-02 13:45] ianlee511 opened #83 "Hello can you help with this please"
![358B4767-64C7-4219-B89A-FCC7F4DC86B1](https://user-images.githubusercontent.com/64882476/100880397-06741b80-34f0-11eb-8a5d-6e0164a4e402.png)
Can you help?

[2020-12-03 02:11] mzeryck commented on #82
Yes! Run the script from the app to see the settings menu, then tap Edit preferences. There are two places to adjust things: in "Overall settings" you can set a specific [locale code](https://www.ibabbleon.com/iOS-Language-Codes-ISO-639.html) if the auto-detection isn't working. And then each item has its own [date format settings](https://docs.scriptable.app/dateformatter/) as well. Does that hel

[2020-12-03 02:11] mzeryck commented on #83
Can you try deleting the "Weather Cal code" script, and then running this "Weather" script again, to see if that helps?

[2020-12-03 04:35] ianlee511 commented on #83
When I run weather than it makes the weather cal script and the same error occurs

[2020-12-03 11:12] gmaschine opened #85 "Celcius?"

[2020-12-03 11:23] #85 closed

[2020-12-03 13:43] FraserEmbrey commented on #82
That's great, thank you very much.

[2020-12-03 13:43] #82 closed

[2020-12-04 01:14] mzeryck commented on #83
Hm, that's odd. Can you show me what your layout looks like?

[2020-12-04 03:38] ianlee511 commented on #83
I’m not sure what the layout is if I just run the script after i did the first setup it would keep saying the error on the picture above

[2020-12-04 07:40] ow410775 opened #86 "Right alignment of Titles and Display List Shape"
In my widget, I have aligned my events and reminders on the right side of the widget. It is aligning properly to the right if there are multiple events and/or reminders being displayed as the title is somehow being trimmed to be single-line. But when there is only one event and/or reminder item and the title is long causing to display it with 2-3 lines, it is still on right side of the widget but

[2020-12-04 09:07] Dimakap opened #87 "Error running script first time"
I just copied the code and hit run.

![image](https://user-images.githubusercontent.com/73642725/101144257-564e0200-3618-11eb-8b69-320ae113f940.png)

[2020-12-04 09:09] #87 closed

[2020-12-07 19:50] tie82 opened #89 "dynamicDateSize not working"
Hi,

dynamicDateSize is enabled, but 2 date lines are shown even with events present
![38087295-74E1-4B89-8B57-80B72763FD1D](https://user-images.githubusercontent.com/38699731/101398026-c6d17900-38cd-11eb-8706-c4c304d6ee6a.jpeg)

Thanks

[2020-12-08 01:59] #78 closed

[2020-12-08 16:56] Strassbauer opened #90 "Background transparent"
How can I set the background to transparent?

[2020-12-08 17:04] TheRealEvan584 commented on #90
First, you need to use a script called [Widget Blur](https://github.com/mzeryck/Widget-Blur/blob/main/widget-blur.js) which takes a portion of your wallpaper which you can then use as a background for a widget. Once you have created an image with [Widget Blur](https://github.com/mzeryck/Widget-Blur/blob/main/widget-blur.js), you can use that image as the background of Weather Cal. To reset the bac

[2020-12-08 17:14] Strassbauer commented on #90
Thanks it works 👍🏽

[2020-12-09 23:03] Roquer77 opened #91 "Calendar setting"
Hello!
How do I get the script only to show one specific calendar of mine? I tried some things like a public google calenderadress, my private google calendaradress, my iPhone calender names and so on. Nothing worked. Can you tell what I have to do to that the script only shows my personal google calendar? Thanks for your help.

[2020-12-10 02:05] #90 closed

[2020-12-10 02:09] mzeryck commented on #91
Sure thing! First, you do need to have the exact names of each calendar within the iPhone Calendar app. Then go to the setup menu > Edit preferences > Events > Calendars to show. Here, you need to list them with commas but no spaces, like this: Personal,Work,Family

[2020-12-10 02:13] mzeryck commented on #89
I'm sorry for the delay in response! Good catch, I had updated some event code which broke this feature. Please try running "Update code", it should work now!

[2020-12-10 02:15] mzeryck commented on #86
Hey, sorry I have not worked on this project for a few days. These are all great points! Scriptable's alignment system is a bit weird, which is why you're seeing this side effect. Luckily it is very fixable in the ways you described! I will leave this ticket open until I have a chance to take a look at it.

[2020-12-10 02:16] mzeryck commented on #83
If you're still experiencing this issue, can you copy the code from the "Weather" and "Weather Cal code" scripts into http://pastebin.com so I can take a look?

[2020-12-10 11:42] Roquer77 commented on #91
Thanks a lot for your quick answer. Sadly it does not work. I don't know if this is because I'm working with a google calender that is imported into my iPhone calendar. Any ideas?

[2020-12-11 02:50] ianlee511 commented on #83
https://pastebin.com/mvz3FKb4 Weather
https://pastebin.com/B06rn1g6 Weather cal

[2020-12-11 05:44] starelee commented on #77
Although you've already closed this issues, Celsius isn't displayed again.
I set units as metric. But temperature looks like "283" something which is neither F nor C.
Tapping weather section, it goes to error page "weather.com" / {"error": "unsupported locale: ko-KO"}

it seems that this issue occurs to Korea, so I leave a comment.

[2020-12-12 15:44] adamengineering commented on #91
You have to write it like this

["Personal","Work","Family"] and the names must correspond to those in the calendar app

[2020-12-12 15:55] adamengineering commented on #77
The locale for Korea on the iPhone (current iOS) is: 'ko'
and not 'ko-KO'

[2020-12-13 08:03] LTLNEMO commented on #91
On a sidenote relating to calendar events. Mine aren't showing. Set future to 7. Just seeings the default message. Does it take a while for the widget to refresh?

[2020-12-13 08:34] LTLNEMO commented on #91
Never mind. I had to change the 20 to 0 to always show.

But now I don't want the date to revert to small and always want it large. How do I do that

[2020-12-14 07:54] adamengineering commented on #89
@mzeryck Updated, but at least in my case it seems to be still broken and furthermore I noticed that all-day events are not shown either...

[2020-12-15 03:45] mzeryck commented on #66
This is (finally) added! There's a new "news" item that can be added to a layout and pulls from an RSS feed. There are some settings available as well.

[2020-12-15 03:45] #66 closed

[2020-12-15 07:18] mzeryck commented on #76
The widget now has minimum and maximum cache ages. This means if you lose connection for a short period of time, it will still show the widget items. If you lose connection for a long time, it will show a line or other indicator like you mentioned. Please try running "Update code" and seeing if this works better.

[2020-12-15 07:19] #81 closed

[2020-12-15 08:15] icsAT opened #92 "Error on line XXX:YY: TypeError: this.currentRow.addStack/column.addStack is not a function"
Hi,

I just updated the code of your script by using the update function and now it throws an error.

My medium widget ([Code here](https://gist.github.com/icsAT/1b832fa894fbe3fc1df99272c6ffd567)) says:
"Error on line 586:50: TypeError: this.currentRow.addStack is not a function. (In 'this.currentRow.addStack()', 'this.currentRow.addStack' is undefined)"
This seems to be in the column function

My

[2020-12-15 10:33] icsAT commented on #89
@adamengineering did you set "Show all-day events" to "true"? It's showing the all day events in my widgets.

[2020-12-15 15:21] mzeryck commented on #92
Hi André, thanks so much for pointing this out! When I was rewriting the layout code, I totally forgot that some folks still have trailing commas. I reintroduced this in the latest commit. (I also allow for trailing periods - because when you're building an ASCII layout, iOS adds a period if you add two spaces in a row.)

[2020-12-15 15:21] #92 closed

[2020-12-15 15:41] ilovebrasil0808 opened #93 "Exception Occurred"
When I try to run script, I keep getting this message.

Exception Occurred
Error on line 45:30: ReferenceError:
Can't find variable: setupLocation

How can I fix it?

[2020-12-15 16:17] #93 closed

[2020-12-15 19:52] musmer opened #94 "Some help please"
![F8226A05-D75F-4F02-9E80-E18D2840794C](https://user-images.githubusercontent.com/76070149/102265432-65d22280-3f17-11eb-9d14-fdc6d715817e.png)
![Uploading 31FFAF77-E203-4091-80C7-DB168448BFE7.png…]()

[2020-12-15 20:34] addyire commented on #94
Im having the same problem

[2020-12-15 21:29] addyire commented on #94
Fixed by using another script that requires location like iTermWidget which then prompts for location access.
Then deleting "Weather Cal(or whatever you name it) code" then re-running the start script.

[2020-12-16 01:39] mzeryck commented on #94
@musmer @addyire Really sorry about this - pushed out a bug. Please force-quit Scriptable, delete the "Weather Cal code" script, and then re-run the widget script.

[2020-12-16 03:37] mzeryck commented on #77
@hjm79 @starelee @adamengineering I believe there is a fix now. Please run the "Update code" function. After that, go to "Edit preferences", then "Weather". You can now select a locale code directly - for example, "kr" for Korea. This will only apply to the weather data, since the OpenWeather service is more restrictive. (It may take a couple minutes to work.)

Please let me know if that fixes the

[2020-12-16 03:47] mzeryck commented on #89
@adamengineering I am curious about this as well, as I'm not seeing this bug either, so more details are appreciated.

[2020-12-16 03:48] mzeryck commented on #91
@Roquer77 Would you be OK sharing the calendar names here? There are some situations where this may not work - for example, if two calendars have the same name.

[2020-12-16 05:55] LTLNEMO opened #95 "Error when adding “news”"
Added "news" in layout view and got this

Error on line 1671:39: Expected value of type string but got value of type undefined.

[2020-12-16 11:13] Roquer77 commented on #91
Hi, sorry that I let you wait.

Sure, it's no problem for me.
The calendarnames (as they are shown in my apple calendar app are:
Jens
Evy

[2020-12-16 15:15] icsAT commented on #95
@LTLNEMO,

I could confirm this issue. If you chage the basic stetting for "Display the publishe date for each news item" from "none" to any thing else it will work.

@mzeryck.
in the news function you set dateText by switching "newsSettings.showDate". Unfortunately there is no case for the default setting "none" of showDate. "dateText" is then undefined and the function provideText throws an erro

[2020-12-16 15:18] LTLNEMO commented on #95
Changed to relative and got

Error on line 1506:32: Expected value of type Date but got value of type string.

[2020-12-16 15:35] icsAT commented on #91
@Roquer77,

usually it should work if you put the one you want to see in the "Calendars to show" like @mzeryck described. Did you try both of them on their own? Is at least one of them working? Also check if you f.e. have a space in the iOS calendar name in front of or after the name. I had a problem with a trailing space in the iOS calendar name a few days ago.

@mzeryck I did not really look int

[2020-12-16 15:36] mzeryck commented on #95
@icsAT Thank you for figuring this out! I am a bit busy this morning, so please feel free to submit a pull request with a fix if you like, otherwise I will be happy to look into this in a few hours.

[2020-12-16 16:24] ARashkind opened #96 "Feature Requests"
I am really enjoying Weather Cal. I have it running on my iPhone and iPad. Almost all of my information I need is viewable from the Large Widget. I have a couple requests as I have tried to get it working through coding, but wasn't able to make it work exactly.

1. Is there a way to allow the Sunrise, Sunset, and Battery items to take up only one line? Right now, it takes up three separate lines.

[2020-12-16 16:58] Roquer77 commented on #91
Hey Andre, thank you for the reply.
Indeed I tried every calendar on its own. The result is always the same: Ir shows every calendar.

[2020-12-16 16:58] icsAT commented on #96
@ARashkind,

The answer to number one is easy:
Just add a row with three column(s) to your layout, where you place those items.
row
   column
      battery
   column
      sunrise
   column
      sunset

[2020-12-16 17:11] admartinezjr opened #97 "Message Stack error"
New error since last night. MessageStack
It happens every time the widget refreshes.

![F9088BCB-7F33-4CB8-8A04-A07078AA4810](https://user-images.githubusercontent.com/76121626/102381876-c3a64f00-3f97-11eb-8ce1-ac9d8ec9b8d1.png)

[2020-12-16 18:28] icsAT commented on #95
@LTLNEMO you are right with the second problem too.

@mzeryck the problem is, that the cached date (news.item.date) has not a date format. It is a string. So there is a problem, because the formatDate function needs a date and not a string. If it is read from cnn everything ist fine by the way.

I will try to submit a pull request with a quick fix. Never done it before, so we will see ;-)

[2020-12-16 19:02] ARashkind commented on #96
Thanks for the quick reply. I had tried that, but the spacing of the columns didn't look right. Wasn't sure if there was a way to have it all on one column instead.

[2020-12-16 19:09] icsAT commented on #97
@admartinezjr I think there really might be a problem in the code if there are no reminders. @mzeryck removed some code 2 days ago including the messageStack. I am not sure if it should be named reminderStack now, but you found the on line where there is still an messageStack.

Greetings Andre

[2020-12-16 19:17] icsAT commented on #96
You are able to do something like that:

row
column
left
battery
column
center
sunrise
column
right
sunset

I dont know what you are expecting exactly, so its hard to help.
You also could try to use space and/or set the size of the column(100) like that. I think almost ervery look is possible.

[2020-12-16 20:07] admartinezjr commented on #97
Hi Andre, thanks for the reply. It does seem to happen when all the reminders are done, now that you mentioned this. Hopefully it can be fixed in an update soon. The widget is unusable once this happens.

[2020-12-16 20:38] #96 closed

[2020-12-16 21:54] admartinezjr commented on #97
In the meantime, turning off the “message” for no reminders, fixes it. Hoping for a permanent fix soon.

[2020-12-17 02:04] d3vcoder opened #99 "Error adding photo + older settings being ignored"
I get this error when trying to add a new background photo. No error when adding a solid or gradient background
![77DE9139-6862-463A-BA89-70D005C4BD63](https://user-images.githubusercontent.com/76139174/102434223-54a21800-3fe2-11eb-9f5f-b784c50e7c4d.jpeg)

[2020-12-17 02:35] mzeryck commented on #97
@admartinezjr Sorry about that! I've fixed the bug, updating should fix the issue!

[2020-12-17 02:39] mzeryck commented on #99
@d3vcoder What a weird error! Is iCloud turned on for Scriptable? (Settings app > your name > iCloud > scroll to the Scriptable item)

[2020-12-17 02:42] admartinezjr commented on #97
Thanks @mzeryck. Appreciate it!

[2020-12-17 02:43] #97 closed

[2020-12-17 03:04] d3vcoder commented on #99
Yes iCloud is turned on.

[2020-12-17 16:20] icsAT commented on #99
@d3vcoder I just discoverd the same thing at my sons mobile after performing an code update. @mzeryck already pointed into the right direction, but you not only have to activate iCloud for scriptable, but you have also to turn on iCloud Drive. But be carefull if you turn on iCloud Drive all your Script's seems to be gone, because Scriptable wants to read them from iCloud Drive now. I did not figur

[2020-12-17 16:46] mirko-wq opened #100 "Weather location"
Since the update at Tuesday,
the weather location is not updating.
I try a new api and the open weather locate “de”
and a zip code or “blank” device’s locate
without success.

[2020-12-18 15:59] icsAT commented on #100
@mirko-wq
there is a new parameter "Location update frequency" in the "Overall settings". Maybe you check if this effects your expected behavior.

"de" as value for "OpenWeather locale" should be fine.
As "Local code" you should use "de_DE" or nothing. But this should not effect your weather.

Greetings Andre

[2020-12-18 16:10] mirko-wq commented on #100
@icsAT
Thank you for reply!
I try different times for the "Location update frequency" from 5 minutes .. to 60 minutes ..
Without success.
Another script is using the gps from my device.
So it looks that the gps for Scriptable is working.

[2020-12-18 16:31] mirko-wq commented on #100
I deleted the weather call code and made a complete reset. It’s a little bit strange. It still shows the location i visit on Thursday.

[2020-12-18 16:34] icsAT commented on #100
what kind of reset? did you mean a reboot of your device or the reset functionality from the script.

[2020-12-18 16:41] icsAT commented on #100
After a quick glance into the code I would think the cache is not deleted, no matter what you did. That might explain, where the wrong location come from, but not why it's not refreshing.

[2020-12-18 16:47] mirko-wq commented on #100
“Completely reset widget”
That don’t work.

I reinstalled the scriptable app. After that I start a new weather call script. It starts from beginning. Now the location is working!

[2020-12-18 16:58] icsAT commented on #100
Glad to hear it worked. Leave the issue open, so that Max could have a look at it.

@mzeryck could you check if I am right and the cache files are not deleted when using the "Completely reset widget" function. I think thy should, except the API Key maybe.

Greetings André

[2020-12-18 18:39] d3vcoder commented on #99
@icsAT thabks for the tip. Unfortunately my phone completely glitches out when I try to turn on iCloud Drive so I can’t test this. Another issue that just cropped up is the code no longer recognizes any changes to text size and will ignore any changes made

[2020-12-19 03:02] LTLNEMO commented on #100
Noticed this all well yesterday. Gonna try the troubleshooting steps

[2020-12-19 10:50] icsAT commented on #99
@d3vcoder I just added a pull request for the picture problem. Actually it was not an edding, but a reading problem. Your second problem is not related to this. It might more be related to Issue #100.

[2020-12-19 20:01] LTLNEMO commented on #100
Reinstall of Scriptable works but doesn't update location again after that.  Have to keep deleting and installing for new location

[2020-12-19 22:51] starelee commented on #77
It works! Thanks a lot!

[2020-12-20 11:33] jbastruz opened #102 "Widget doesn’t to update informations automatically"
Hi, the widget doesn't to update informations automatically, I am have to run the script manually, there is a tip to fix this point?

[2020-12-20 16:35] icsAT commented on #102
@jbastruz wich part of the widget is not updating?

The update frequency of the widget is somehow up to iOS, depending on how often you look at it, as far as I know.
Also some of the item's are cached for some time, so they would not update any second anyway.

But, as you see on issue #100 there are more people haveing a problem with the update of their location.

[2020-12-21 00:58] mzeryck commented on #99
@d3vcoder Thanks for bringing this up, and thanks @icsAT for your solution. In my own testing, the code worked fine with iCloud turned on or off - but since I use iCloud Drive, I didn't even think about this potential situation.

Regardless, it appears the solution should work - if you Update Code, please let me know if that is correct! And, sorry for the few days away from this project.

[2020-12-21 01:00] mzeryck commented on #100
Thanks all - I will take a look at it this week! Unfortunately I am based in the US where changing locations is not ideal, but I'll try and see if I can find the bugs in the caching code (which is new).

[2020-12-21 01:01] #76 closed

[2020-12-21 01:01] #77 closed

[2020-12-21 01:03] mzeryck commented on #91
@Roquer77 Hi there, thanks for providing more detail! The "Awaiting" badge is just to note that the issue needs more detail before I can work on it. But it stayed up even as I took a few days off from working on this project. I have some more time finally to look into this!

@icsAT I think you may be on the right track - I have been thinking about rewriting calendar selection since it is very rudi

[2020-12-21 01:21] mzeryck commented on #83
@ianlee511 This is a very perplexing bug - the two scripts you shared work fine on my device. Can you tell me which version of Scriptable you have? (In the app, tap the gear icon, then About.)

[2020-12-21 01:29] Roquer77 commented on #91
No problem for me. I must say that coding is not a profession of mine so that I'm doing my best to get things work while I try to understand how these codes work. So while I'm on duty I'll just be patient waitimg for pros like you that can figure out the issue. No need to hurry on this project and no need for an excuse or something. I'm just happy that there are people who are working on these scr

[2020-12-21 01:32] d3vcoder commented on #99
You guys are awesome. Thanks for the fix!

Still however having the issue with text size not displaying properly. The strange thing is it will change if I modify the defaultText font size, but changing any individual items size wont have any effect.

[2020-12-21 06:56] icsAT commented on #83
@ianlee511 and @mzeryck I also tried the code provided by @ianlee511 on my device and it worked fine.

@mzeryck my thoughts on this:
- the error is raised on the first line of the function "row(input, parameter)"
- "this.widget" is not defined
- btw. "input" is declared in the function and never read, and "parameter" is never passed
- the function "row" is only called from the function "processASC

[2020-12-21 11:04] ianlee511 commented on #83
![850C42AE-E52A-4174-A668-693BF9F7AACA](https://user-images.githubusercontent.com/64882476/102770251-28faa580-43c7-11eb-985c-c63771c9df18.png)
Is there anything I need to touch about the stack?

[2020-12-21 12:18] icsAT commented on #83
@ianlee511 the error still comes up at the same line of code as before and i still do not understand why this function got called in first place. In my opinion it should not. Hopefully Max has an idea, bacause i don't.

Maybe you could help figuring something out. Are you able to add a line in the code?
Line 525 should be empty. Could you add a "console.log(line)"

Before:
`  // Processes a single

[2020-12-21 20:11] anonym6373 opened #103 "Changing Color of the ConditionSymbol"
Hey there,
I want the Widget to have a White background, but if I change the solid color to #ffffff I’m not able to see the ConditionSymbol any more if it‘s anything  with clouds or sth like that.
Now I want to change the color of the Condition Symbol („clouds.fill“) to gray or another color, which isn’t white. Please help me with this.
![09D5497B-50BF-4FD5-86D5-89896056D8E0](https://user-images.g

[2020-12-21 20:41] deroverda commented on #102
Update to latest code and reboot/restart your phone. I've read widgets refreshes every 6-11 min. There's also a scriptable refresh widgets shortcut that you could try.

[2020-12-21 22:24] icsAT commented on #103
@anonym6373 first of all you need to set "Icons match text color" to "true" in the "Overall settings". Then you are able to set the condition icon with the text color. F.e. color of "Large temperature label" for the icon and text in your screenshot.

[2020-12-21 22:34] icsAT commented on #99
@d3vcoder none of the other textsizes are working? Could you name at least one item, where the textsize is not working correctly? Also it would be interesting, if you discover this only if the script runs in the widget or also if you start it from the app.

[2020-12-22 03:13] anonym6373 commented on #103
Ok, nur is is possible to change the Color of the Symbol without changing the color of the title? I mean to change the color of separate SFSymbols in the Widget Code(like „Clouds.rain.fill“ in blue, and „Sun.max.fill“ in yellow).

[2020-12-22 06:41] icsAT commented on #103
@anonym6373 usually the sun is yellow by default and clouds are kind of white. There is no posibillity to change that as far as I know besides giving them the color of the corresponding text. In issue #75 there is a request in sizing the icons as a future feature. Maybe @mzeryck could have a look if he could include your request too, once he works on that point. Unfortunately I don't see any possi

[2020-12-22 23:58] d3vcoder commented on #99
@icsAT See attached screenshot. Changing the defaultText will change the size of everything. Changing any individual item from that list won’t do anything.
![Uploading 3253FE77-A6F7-4435-8049-E1F46090BB8A.png…]()

[2020-12-23 07:16] icsAT commented on #99
@d3vcoder I can't see your screenshot.
I tried a lot, even turning on and off icloud drive, but was not able to reproduce this situation. I thought there might be an issue with reading the preference file in your setup, but found none so far. Very strange to me is, that you say

That means writing and reading to preference file seems to work, else it would stay on the provided defaults.

Is the sc

[2020-12-23 12:35] maxmustermann69 opened #105 "WeatherCal"

[2020-12-23 14:54] d3vcoder commented on #99
@icsAT ill try again. It keeps the settings, it just doesn’t do anything with them. My script name is Weather cal.

![2819ACC9-CFFC-4B68-9763-5C1F51478206](https://user-images.githubusercontent.com/76139174/103009427-c4ddfb80-4504-11eb-848d-71a0ceba1258.png)

[2020-12-23 15:06] icsAT commented on #99
@d3vcoder thanks for your information. Could you please run this script [https://pastebin.com/czjFJnEW](https://pastebin.com/czjFJnEW) from Scriptable and post a screenshot of the output.

[2020-12-23 15:09] d3vcoder commented on #99
@icsAT Here you go.

![705E63BE-8A86-4734-BBF7-E14D50C89910](https://user-images.githubusercontent.com/76139174/103010808-e3dd8d00-4506-11eb-852c-031b79fe9d8b.png)

[2020-12-23 15:17] icsAT commented on #99
@d3vcoder that helps I think. The Testscript did not found the preference file. So, maybe also the Weather Cal Script is not finding it for reading the preferences. But and this is not clear to me at moment, it must be somewhere if it stores and shows your changes. Maybe @mzeryck has an idea on this.

[2020-12-23 19:05] mzeryck commented on #100
@LTLNEMO @mirko-wq @icsAT Thanks all - and sorry for taking a longer break than I anticipated. I believe the most recent commit fixes the location caching bug: now, you can use 0 for the update frequency to always update your location, and to lock your location you can enter -1. Also, the reset function should clear all cache files now! Please let me know if there are additional issues.

[2020-12-23 19:06] #94 closed

[2020-12-23 19:06] #95 closed

[2020-12-23 19:12] mzeryck commented on #99
@d3vcoder This is an older version of Weather Cal (the settings are now in a UITableView rather than the script). However, the code does attempt to check for older versions. Can you please go into the Weather Cal code script, and find this section:
[code]
And then add a single line of code after it:
`console.log(this.settings)`

Can you let me know what it shows? It should display a readout of all

[2020-12-23 19:13] mzeryck commented on #102
@jbastruz @icsAT @deroverda I believe there was a bug in the cache code, which should now be fixed. Leaving this issue open in case there are any remaining issues.

[2020-12-23 19:16] mzeryck commented on #103
@anonym6373 @icsAT Unfortunately, there isn't a good way to do this - there are so many possible symbol and color combinations. The existing options (use the iOS default vs. match the color of the text) cover most situations pretty well. What I really wish is that the SFSymbol object could specify the "base color" so it looks correct with a light or dark background, but this isn't possible. Sorry

[2020-12-23 19:16] #103 closed

[2020-12-23 19:16] mzeryck commented on #105
Hi there @maxmustermann69 are you having an issue with Weather Cal?

[2020-12-23 21:05] maxmustermann69 commented on #105
No, sorry.

[2020-12-23 21:27] d3vcoder commented on #99
I’ll paste below the output of the log.

2020-12-23 16:26:02: {"widget":{"locale":"","units":"imperial","preview":"large","padding":5,"tintIcons":false},"layout":"\n  \n  row\n    column(200)\n      greeting\n      date \n      sunset\n      battery\n    \n    column\n      center\n      current \n      future\n      \n  \n  space()\n  \n  row\n    \n    column\n      left\n      events\n      \n

[2020-12-23 23:47] #105 closed

[2020-12-24 00:43] mzeryck commented on #91
@Roquer77 Hello, please try the newest update to Weather Cal: first, run "Update code", and then "Edit preferences". When you tap on "Calendars to show" it will now display a list of the available calendars. Tap on the calendar you want to select it.

This view uses the calendar identifiers, rather than the titles. So, it should be more accurate! Please try it out and let me know if it fixes the i

[2020-12-24 01:13] mzeryck commented on #99
@d3vcoder Ah, found the bug! It's fixed in the most recent version, if you delete and re-download the Weather Cal code script.

[2020-12-24 01:14] mzeryck commented on #89
I am closing this issue as it has been more than 7 days.

[2020-12-24 01:14] #89 closed

[2020-12-24 02:17] LTLNEMO opened #106 "Calendar"
It would be really awesome to have a calendar in Weather Cal. You've covered pretty much everything except a full calendar.

[Calendar](https://gist.github.com/rudotriton/b51d227c3d1d9cb497829ae45583224f)

This calendar script is really nice. Could we please get a customizable calendar in the future

[2020-12-24 06:51] mzeryck commented on #106
Just making a note about the [post](https://www.reddit.com/r/Scriptable/comments/kcd7hp/integrate_calendar_into_weather_cal/gfv6h7p/?utm_source=reddit&utm_medium=web2x&context=3) here since I'm bad about checking Reddit!

[2020-12-24 10:09] icsAT commented on #100
@mzeryck thanks for the update. Looks like location is updating fine to me. Merry Christmas to you and thanks again for your excellent work and widget. Enjoy the holidays.

Greetings from Germany

Andre

[2020-12-24 17:57] #100 closed

[2020-12-24 19:07] Roquer77 commented on #91
Hi!
It works! I'm sorry for answering late but here in germany we celebrate christmas on the 24th. On top I've gotta work a 24 hrs shift. Everytime I got some sparetime I tried to update the code. I deletet it completely and used the code from script dude. This works absolutely fine and in the way I would expect it. Thabk you again for your work and passion you put into it. I hope you have a merry

[2020-12-24 19:08] #91 closed

[2020-12-24 19:39] LTLNEMO commented on #106
Awesome. Thank you!  I had it working with your code but then I updated and it wiped out all the work and didn't feel like doing it again. It would be really nice to have this as a permanent feature.

[2020-12-26 14:15] dontcrash opened #107 "No event message"
Clicking the no event message should open the calendar to today’s date for easy access to schedule events! 😁

[2020-12-26 15:18] jigadijac opened #108 "2020-12-26 23:17:13: Error on line 715:83: TypeError: null is not an object (evaluating 'event.calendar.identifier')"
Hi I get this error. How do I rectify it?

[2020-12-26 18:35] LTLNEMO commented on #108
Try all troubleshooting.  Meaning Update code.  If not that. Delete Weather Cal and Weather Cal Code and re-add script and rerun. If not that then reinstall scriptable. Generally fixes every issue

[2020-12-27 17:58] mzeryck commented on #75
The most recent update adds support for text capitalization!

[2020-12-27 17:58] #75 closed

[2020-12-27 23:40] ow410775 opened #109 "Text and symbol preferences"
Hi Max, happy holidays! A hug thanks for adjusting the widget cache, and also the adding supports on the size of symbols and text capitalizations! Really appreciate it! However, there seems to have a problem on the preferences part as the text customization and the symbols, were not opening or letting it change anything. I think there was part of the code you’ve missed.

[2020-12-28 14:43] LTLNEMO commented on #109
Same

[2020-12-29 20:19] mzeryck commented on #83
Closing this due to lack of response, although please do reopen if you end up running the test suggested above.

[2020-12-29 20:19] #83 closed

[2020-12-29 20:24] mzeryck commented on #109
@ow410775 @LTLNEMO Could either of you send the .scriptable or .js files of your widget + Weather Cal code files? I've tried using old versions and updating and I haven't been able to reproduce the bug myself.

[2020-12-30 05:10] LTLNEMO commented on #109
Yea but not sure how to send to you via Git off my phone. Email?

[2021-01-02 05:18] ow410775 commented on #109
I have already reset and duplicated my weather-cal script which seemed to fix my issue here. I have now been able to open/access/ modify the values on text customizations, and symbol part on the preferences menu. However, may I know what actually updates when we change the “size” on the symbol part? Is that for all the symbols on the widget - both battery and main weather? Also, I am updating the

[2021-01-04 06:01] icsAT commented on #109
Hi @mzeryck,

just discovered the same issue here, but have no time to track it down at the moment.
I have 2 scripts using the latest weather cal version form my gist: https://gist.github.com/icsAT/1b832fa894fbe3fc1df99272c6ffd567 together with your latest code update.

I am not able to get into the menue "Text sizes, colors, and fonts". All the other menues work fine.

Yesterday I made a copy of

[2021-01-05 05:50] ArnavMotwani opened #110 "The news feature doesn't seem to work"
In the widget preferences there is a News section where I entered the following RSS feed `https://www.theverge.com/rss/index.xml`

This just seems to leave a gap in the widget. Here is my layout

[code]

[2021-01-06 08:11] weichieh1998 opened #111 "Error on line 1796:39"
Hi, I get this error. How to fix it?

![AC2B3F68-F764-4F6C-85B9-642E9F728CB6](https://user-images.githubusercontent.com/76858357/103745045-c3025500-5039-11eb-98b7-5c7d6583d60a.png)

[2021-01-06 14:49] LTLNEMO commented on #110
@ArnavMotwani
I'm guessing you just forgot to set column>news after row. But I can confirm news item isn't working

[2021-01-06 15:01] ArnavMotwani commented on #110
@LTLNEMO Even with a column
doesn't work, I think that it is one feature I am eager to see

[2021-01-06 17:37] LTLNEMO commented on #110
It just started working for me

[2021-01-06 17:38] ArnavMotwani commented on #110
@LTLNEMO Do you mind sharing your layout?

[2021-01-06 17:40] ArnavMotwani commented on #110
@LTLNEMO Nevermind it's working for me too now

[2021-01-06 17:45] #110 closed

[2021-01-06 17:47] Nosh118 opened #112 "Error on line 753:22: TypeError: null is not an object (evaluating 'event.title.startsWith')"
I get this error: Error on line 753:22: TypeError: null is not an object (evaluating 'event.title.startsWith') whenever I try to run the script, using the latest version from GitHub, on the latest version of Scriptable, still occurring even with a reinstall of the app. Think this has happened since the latest update to Scriptable.

[2021-01-06 17:47] ArnavMotwani opened #113 "The news feature doesn’t seem to pull news from The Verge"
The Verge is the only news source I really want in my RSS feed, but it doesn't seem to work.

Here is the RSS feed I want http://www.theverge.com/rss/index.xml it works fine with other rss readers

My layout is working fine considering this RSS feed worked https://www.nasa.gov/rss/dyn/breaking_news.rss

[2021-01-07 06:11] LTLNEMO commented on #113
It's working for me
![Uploading 103857784...]

Using https://www.theverge.com/rss/index.xml

[2021-01-07 06:13] 180ym commented on #113
Fuck You Mail

네이버 메일앱에서 보냈습니다.
-----Original Message-----
보낸사람: "LTLNEMO"<notifications@github.com>
받는사람: "mzeryck/Weather-Cal"<Weather-Cal@noreply.github.com>
참조: "Subscribed"<subscribed@noreply.github.com>
날짜: 2021. 1. 7 15:11:38
제목: Re: [mzeryck/Weather-Cal] The news feature doesn’t seem to pull news from The Verge (#113)

It's working for me
![Uploading 103857784...]
Using https://www.theverg

[2021-01-07 06:20] LTLNEMO commented on #111
Update your code.  I believe this was an error from an issue with News

[2021-01-07 06:39] ArnavMotwani commented on #113
@LTLNEMO I deleted and reset the widget yet it isn't working, can you export your widget to me. Also your image didnt upload.

[2021-01-07 09:47] musmer opened #114 "Font Color"
I got a problem with font color setup.
Since yesterday font colors don't change on my widget.

Also is it possible to add an option to see our next alarm?

Thanks

[2021-01-07 14:55] LTLNEMO commented on #113
How can I send it view Git?  Also. Did you make sure the URL you used for verge was https not http

[2021-01-07 14:59] ArnavMotwani commented on #113
@LTLNEMO Yep I use https. Try exporting the widget as text and send me the code?

[2021-01-07 15:02] ArnavMotwani commented on #113
@LTLNEMO Try running my widget and see if it works

[code]

[2021-01-07 15:13] ArnavMotwani opened #115 "Widgets won’t export properly"
Whether you export as text or a file, it doesn't work you get the error `Error on line 15: SyntaxError Unexpected string literal ",". Expected ')' to end argument list.` if you export to files and `Error on line 26: SyntaxError Unexpected string literal ",". Expected ')' to end argument list.` if you export to text.

[2021-01-07 22:25] #112 closed

[2021-01-07 22:25] Nosh118 commented on #112
Fixed now

[2021-01-11 19:43] #114 closed

[2021-01-12 02:33] mrJudahBella opened #116 "Hourly weather offsets are wrong?"
Hello there! I recently stumbled on Scriptable and Weather Cal and I'm in the process of customising it. I noticed that for the hourly forecast, while comparing to the OpenWeather app, the time does not seem to align—it seems to be off by an hour. I've attached screenshots to better describe what I mean:

![IMG_0906](https://user-images.githubusercontent.com/68019824/104261566-c6c22b80-54c0-11eb-9

[2021-01-15 05:52] osiris-pixel opened #117 "weather"

[2021-01-15 05:53] #117 closed

[2021-01-15 07:16] icsAT commented on #113
@LTLNEMO are you sure it is working? I had a look into it and it seems that theverge is using tags, that are not implemented, since they don't match rss specification.
For rss it is required to have
channel, item, title, link and description
tags. Theverge is using
-, entry, title, link and content.
So, it would be very strange to me, if it works on your side.

@ArnavMotwani as I mentioned the pag

[2021-01-15 07:20] ArnavMotwani commented on #113
@icsAT The verge is a rather popular news site for tech. I am a developer but I use Python and Swift not js. Anyways for now I have a work around where zapier fetches all the news from the verge and then rebroadcasts it in a custom RSS feed with the correct tags. It also allows me to use multiple news sources.

[2021-01-15 10:24] ArnavMotwani commented on #113
@icsAT The verge uses the ATOM format, its a more recent format than rss hence why it wasn't working.

[2021-01-15 10:34] icsAT commented on #113
So, if this is the case, maybe Max is able to upgrade his news item to handle atom also.

[2021-01-15 10:44] ArnavMotwani commented on #113
I'm giving it a shot, if it works then I'll open a pull request. JS is not very different from Python

[2021-01-15 11:55] ArnavMotwani commented on #113
@mzeryck I have the solution to this but I'm just not familiar with js enough to implement it. The the verge use the atom format which uses the entry tag instead of item and the published tag instead of pubDate. The link tag in atom has a different syntax than in rss. If you replace the tags in async setupNews() like this

[code]
then it can load atom feeds just fine.

[2021-01-22 07:45] thomaskeim opened #118 "More functions for the visual design of the events"
Hey,

For a long time I used the iOS app "Agenda+". My objective is to display as many upcoming events as possible in one widget. Unfortunately, the app is no longer developed and adapted for iOS 14.

I love weather cal. this great script offers almost everything I need ;-)

To display even more events in the widget I have the following suggestion for improvement.
Attached also a screenshot of Age

[2021-01-22 20:39] thomaskeim opened #119 "Settings sync between iPhone and iPad"
Hey,

I have enabled "Sync Script Folder" in Scriptable settings.

The weather cal script is synced from iPad over iCloud, but when I run it on iPhone the settings from iPad can't be found.

My question: How can I sync the weather cal settings between my iDevices?

Kind regards
Thomas

[2021-01-24 12:09] deroverda commented on #118
@thomaskeim excellent suggestions.

[2021-01-24 17:44] ryansowinski opened #120 "2021-01-24 11:38:20: Error on line 1635:29: SyntaxError: JSON Parse error: Unexpected EOF"
How do I fix this? I tried updating the code.
![9B81F7B7-2C22-4D40-9AA1-58F8DA8E0060](https://user-images.githubusercontent.com/77933856/105638665-77bdb400-5e39-11eb-91e8-7de1d2befbd9.jpeg)

[2021-01-24 21:36] Stahl80 opened #121 "Colors"
Suddenly changing color codes don’t have any effect.
Had some but all text is now showing in white.
Editing the codes or changing them have no effect.

Ex:
greeting:    { size: 30, color: "71AC9E", font: "semibold" },
    eventLabel:  { size: 14, color: "", font: "semibold" },
    eventTitle:  { size: 14, color: "", font: "semibold" },
    eventTime:   { size: 14, color: "ffffffcc", font: "" },

[2021-01-26 10:41] deroverda opened #122 "Can't access "Text sizes, colors, and fonts" settings while all other settings work."
This started like a week ago. Only thing I remember doing is messing around with the layout of the widgets items (week, battery, date etc.).

When I press "edit preferences" and try to access the "Text sizes ..." menu it won't work. All other settings work, but not this. Does anyone know how to fix this? Tried deleting the code so it auto-updates, restarted the phone, force-shutdown the app etc. N

[2021-01-26 13:55] bckelley opened #123 "Calendar events don’t show"
![image](https://user-images.githubusercontent.com/15696431/105853819-5a0c5e00-5fa3-11eb-9297-2c5b84cf2c9f.png)
![image](https://user-images.githubusercontent.com/15696431/105853834-5d074e80-5fa3-11eb-80ce-186dd435cf7c.png)

Any help before I delete

[2021-01-27 12:09] musmer commented on #121
I had the same issue few weeks ago. Check if you have a value in default font settings.

[2021-01-27 15:02] adamengineering commented on #121
Check the Widget Setup and go to the Edit preferences section. Herein setup your values as you want them to be. Enter the color code and do the same also for dark mode, otherwise if your device is in dark mode, it will show up 'all white'.

[2021-01-27 15:04] adamengineering commented on #123
Have you tried using only one calendar to be shown? Maybe one of them contains a value that is interacting with the correct readout...

[2021-01-27 19:11] MatthiasSeifert1 commented on #120
Same

[2021-01-28 17:50] icsAT commented on #122
Did you try to set up a new widget with a different name or reset the Widget with "Other settings" and "Completely reset widget".

[2021-01-28 18:04] icsAT commented on #120
If you have the recent code and you did not change a thing the problem might has to do something with reading the cache.
You could try to set up the widget as a new Scriptable script with a different name.

[2021-01-28 18:07] icsAT commented on #119
I think it is not possible at the moment.

Personally I think this is not bad, because I have the same script but different preferences on iPhone and iPad. For example the iPhone Background does not match the iPad.

[2021-01-28 18:17] deroverda commented on #122
I ended up starting off from scratch and creating a new script and the problem is now solved. Thanks for responding though.

[2021-01-28 18:18] #122 closed

[2021-01-28 18:32] ryansowinski commented on #120
Did not work

[2021-01-29 15:59] MatthiasSeifert1 commented on #120
Did not work.

Here the error is only on iPad. Same code on iPhone works.

[2021-01-30 16:45] rulerofthenight commented on #123
Same issue. Just 1 calendar selected and nothing shows on the widget

[2021-01-31 20:38] rulerofthenight commented on #123
Any suggestion?

[2021-02-01 07:47] icsAT commented on #123
Show all day events is turned off on your Screenshot. Since there are Calendars selected like Birthday and Holidays, that part could not work, but normal events should show up.

[2021-02-01 09:35] rulerofthenight commented on #123
I have all day events turned on, and tried multiple calendars, one by one.
Not working here

[2021-02-01 18:25] mikecharles opened #124 "Relative time for calendar events"
I would like to be able to show relative times for events (eg. Laundry - in 35 mins), the same way News articles have a relative time option.

[2021-02-01 18:32] rulerofthenight commented on #123
Solved. It was the "future days shown at hour" setting.
I set 0 as value and events showed up.

[2021-02-02 07:41] bhatsu opened #125 "VPN status like battery status"
Hi @mzeryck, would it be possible to add option to display VPN status similar to how battery status is displayed.
The reason for this request is because iPhones with notches don't constantly display the VPN status.

[2021-02-07 18:07] jianyu-li opened #126 "Feature Request: Open calendar app when tapping date element"
Thanks for your consideration

[2021-02-08 02:17] TheRealEvan584 commented on #125
I would like this too

[2021-02-09 20:10] d3athg0d opened #127 "Sunset and Sunrise not displaying"
Not sure why however, no matter how I setup the script or my phone location, sunrise and sunset time are never displayed.

[2021-02-22 21:33] grantavery opened #128 "Feature Request: Nested rows and columns in the UI layout builder"
Hello, love the widget's customizability! One thing I'd love even more is the ability to nest groups of elements (see below for an example). For example, let's say I already am inside of the right side column of a row (`column(95)` in the example), and I want to have the battery and sunrise elements display horizontally. Ideally, I'd be able to put a set of rows inside of that column, and then div

[2021-03-01 01:26] jtjohnson91-design opened #129 "B"

[2021-03-03 06:41] idoo opened #130 "Things 3 App support"
First of all thank you for you excellent work!
Instead of using default reminders, I’m using Things 3 App. And I found in documentation, that it support url scheme to fetch data. I think it would be nice to add such support to that widget.

[2021-03-04 22:42] steveg001 opened #131 "Covid data variables"
Hi, awesome widget! Thanks for all your work so far.
Just a question - are there any variables to change the Covid data to daily rather than total, so we could see daily cases, daily deaths?

[2021-03-06 19:12] adamengineering commented on #131
Go to Edit Preferences, Localization and text customisation, COVID data text
If you read here, you can find all currently available variables.
In your case: todayCases and todayDeaths

[2021-03-18 20:31] MiloApianCat099 opened #132 "Weather"
I'm not sure how to get a weather API code could you please send me a link (set of this want a bug)

[2021-03-19 16:40] MiloApianCat099 opened #133 "Could you please make a tutorial on how to setup adding another widget (specifically Purple air) it just keeps giving me errors and doesn’t work"

[2021-03-19 16:41] #132 closed

[2021-03-24 08:14] loui14 opened #134 "how can i change the temperatur from F to Celsius ?"

[2021-03-24 17:58] deroverda commented on #134
edit preferences -> overall settings -> Units -> metric.

but seriously; check the settings in the future before creating an "issue".

[2021-03-29 08:55] Aellus opened #135 "Hello, I would like to consult how to expand the scope of calendar events."
hello，The code shows this. . “Set to 0 to show today's events only. The maximum is 7."
I want to expand the scope of events, not just this week and next week.
Line 744-----
// Get all relevant events.
    let events = await CalendarEvent.thisWeek([])
    const nextWeek = await CalendarEvent.nextWeek([])
    events.push(...nextWeek)
-----------
I changed it to the following method, why is it wrong?

[2021-04-01 20:31] icsAT commented on #133
What ist wrong with the tutorial here in the Readme? What kind of errors do you have?

[2021-04-16 04:35] Wenchun6 opened #136 "Count down event"
I think it will be great if the count down events are available

[2021-04-19 16:22] bckelley opened #137 "Error: on line 1635:29"
This just happened I haven't done anything and before I delete is their a fix ![image](https://user-images.githubusercontent.com/15696431/115269948-70890800-a101-11eb-8ee8-2eb57635021d.png)

[2021-04-20 21:28] bckelley commented on #137
Hello?

[2021-06-12 19:22] nolandperry opened #138 "iOS 15 support?"
Everything stopped working when I updated to iOS 15 beta 1. I know it's only the first beta, but my question is if you plan on updating everything to work on iOS 15. Thanks!

[2021-06-20 03:16] BlueFalconHD opened #139 "iTermWidget embedding will not work."
Log:
`2021-06-19 23:11:20: Error on line 125:27: No file to import at Cache.
`
iTermWidget works fine on its own. I tried to use some different directories, and I also have the Cache folder with Weather Cal.js.

Full Weather Cal.js File:
[code]

[2021-06-22 23:48] iameduardod commented on #138
@mzeryck any luck here?$

[2021-07-24 01:01] CapitalistVN opened #140 "Display issues with medium sized WeatherCal widget"
![image](https://user-images.githubusercontent.com/87846733/126853081-f4531e67-708e-4e29-967a-75eb19b9dff7.png)
The medium-sized WeatherCal widget is not displaying properly. Other sizes work fine. What could be the problem?

[2021-08-11 13:10] guenni1954 opened #141 "Color"
The weather symbols are only displayed in black for me

[2021-08-11 13:37] #141 closed

[2021-08-12 10:34] mvan231 commented on #137
A user in our discord server said resetting the widget helped them fix the issue

[2021-08-22 14:19] jacobodgaard opened #142 "Cannot pick my work calendar"
Hello! Thank you very a very nice script, I'm already loving how it looks on my phone!

I do have on issue though that I have not been able to find a solution to. I was wondering why I don't see all my calendar events, and noticed that I am unable to pick my work calendar, probably because it's from an exchange server, i.e. not on my iCloud. Is there any way to add it?

Thank you in advance

[2021-08-28 12:57] robinogi opened #143 ""News" problem: Certain RSS feed is displaying the Channel title instead of Article title"
I'm trying to use https://rss.cbc.ca/lineup/topstories.xml to pull News stories.

Instead of showing the title of the first article, WeatherCal 'News' is showing "CBC | Top Stories" which is the title of the RSS Channel/Feed.

Below is an excerpt of the beginning of the RSS file:

`<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:cbc="https://www.cbc.ca/rss/cbc" version="2.0">
  <channel>
    <ti

[2021-08-30 21:47] Amnezja81 commented on #136
scriptable:///run/Transparent%20&%20Blurred%20Widgets

[2021-09-24 20:25] djbeadle commented on #61
Note for anyone in the future looking for this, in iOS 15 the "URL to open when [current/hourly/daily] weather is tapped" can be set to `weather://` to open the built in weather app!

[2021-09-25 00:36] jianyu-li commented on #61
Nice

[2021-09-26 12:43] Nathaniell1 opened #144 "Weather icons lack color"
Hi,

I am on iOS 15 with iPhone 13 mini.
When I installed this script, I noticed that my weather icons (current at the right top corner, next hour a bit lower under it and sunrise/sundown) are all black in default options. I was unable to find anywhere how to change their color (only managed to change the text or turn all white with "Icons match text color -> always"). You have some preview icons

[2021-09-26 13:35] Gunner237 commented on #144
Experiencing the same issues on iPhone 12 mini - all worked on iOS 14 and then all icons black on iOS 15

[2021-09-30 07:29] iDrewn opened #145 "iPhone 13 Pro Max"
Can't use this on my new iPhone, please update it?

![image](https://user-images.githubusercontent.com/29151653/135407238-bbc4314e-320b-4582-882a-3c7f89512e2f.png)

[2021-10-02 15:57] jodunne opened #146 "Time is incorrect"
Time isn’t right and I can’t figure out a fix. Thanks!
![8ACAA64D-9811-41A3-BC6B-8E1FDB0F7742](https://user-images.githubusercontent.com/11689534/135723844-cf8b6e27-7231-48f7-9b58-06c5164b7282.jpeg)

[2021-10-02 16:45] jodunne commented on #146
I’m an idiot - that’s the sundown time. Leaving this here in case it helps anyone else.

[2021-10-02 16:45] #146 closed

[2021-10-06 05:37] felho001 opened #148 "Hourly forcast"
Hi can you tell me why not showing temperature hourly forcast. I don't know how to fix it. Thx
![66F6135E-B1A3-4A17-8030-B5B481E66D7B](https://user-images.githubusercontent.com/45117257/136146220-a48e05e1-a7cf-4d92-a802-dd1450685869.jpeg)

[2021-10-08 19:59] Tobi197 opened #149 "Keine Anzeige Erinnerungen"
Zeigt bei mir keine Erinnerungen an. Liste habe ich ausgewählt.
![C0BA0B24-A7AC-4BBF-B208-68C4033B2F1E](https://user-images.githubusercontent.com/92183247/136618271-2999a941-bf1b-4d37-a42f-9f0dc3073fbc.png)

[2021-11-09 14:08] schlikkes opened #150 "JSON error after fresh installation"
![image](https://user-images.githubusercontent.com/10193927/140938658-bb602285-cae6-492e-8241-9c730823f2df.png)

After the widget worked for quite a time, it stopped working by showing the error above. Also completely uninstalling and installing it again will no longer work.

[2021-11-13 23:02] icsAT commented on #150
This is a cache problem. Widget Setup (run from app) => Other settings => Completely reset widget should fix it. But (!!!) it might clear other settings too and you have to re-set your configuration. You also could try to find out which item causes the error by deactivation one after the other and change the name of the cache file if you found the right one.

[2021-11-13 23:04] icsAT commented on #149
Did you set reminders in the layout part of the code?

[2021-11-13 23:17] icsAT commented on #148
Maybe the right column needs more space or a smaller font. You could set the column size in the code and the font in the settings.

[2021-11-13 23:42] icsAT commented on #142
I have the same problem, but not found a solution so far. Did you?

[2021-11-14 06:34] knohllmrs opened #151 "Color for overdue reminder"
Hi,

I tried to change the color of overdue reminders and found in Wheater Cal Code in line 1159

[code]

So I changed Color.red to Color.black and it worked. But soon it changed back to red. I could have expectet that **AND yes „please do not modify the file“** but I had no other change. 😬

So long story short: Is there any possibility to change that color permanently?

[2021-11-14 08:29] schlikkes commented on #150
In deed this solved the issue. Cool that this reset has been already integrated into the widget.

[2021-11-14 08:29] #150 closed

[2021-11-14 10:48] civicdriver80 opened #152 "Error on line 1635:29"
I don‘t make any changes. Since today it shows error on line 1629:29 Syntax error JSON parse error: unecpected EOF

[2021-11-14 14:48] icsAT commented on #152
This might be a cache problem. Widget Setup (run from app) => Other settings => Completely reset widget should fix it. But (!!!) it might clear other settings too and you have to re-set your configuration. You also could try to find out which item causes the error by deactivation one after the other and change the name of the cache file if you found the right one.

[2021-12-19 21:47] Alex-230 opened #153 "Trz"

[2021-12-21 18:33] mvan231 commented on #153
?

[2022-01-16 09:23] Olko2910 opened #154 "Weather cal"

[2022-02-02 06:47] uweschott opened #155 "1. skript"

[2022-02-11 06:07] Cearl03 opened #156 "Weather-Cal"

[2022-02-14 06:06] enochling opened #157 "country names in covid data"
it seems that it doesn't work for countries with names more than one words (e.g. new zealand, hong kong etc)

tried to wrap it with different quotation marks but still not working.

[2022-02-20 20:31] pandu1990 commented on #157
Space is encoded with `%20` in the URLs
https://coronavirus-19-api.herokuapp.com/countries/New%20Zealand

[2022-03-03 03:46] blakkkk opened #158 "Images are slightly blurred"
![image](https://user-images.githubusercontent.com/23288358/156492254-1711f2fb-11ba-40ed-8694-2d915ce0c44e.jpeg)

As you may see in the image above the Weather Cal background has a slight blur.

[2022-03-11 21:19] mvan231 commented on #158
Have you recently started using a different phone?

You might need to capture another screenshot of your background to get the image slices to match up with the new device

[2022-03-14 18:52] #99 closed

[2022-03-14 18:52] #102 closed

[2022-03-14 18:52] #108 closed

[2022-03-14 19:32] mzeryck commented on #115
@ArnavMotwani I know you submitted this a year ago, but wondering if you are still using Weather Cal - if so, I would be happy to look into the issue if you're willing to share your Weather Cal files.

[2022-03-14 19:34] #121 closed

[2022-03-14 19:34] #123 closed

[2022-03-14 19:36] mzeryck commented on #125
Sadly, this is not currently possible in Scriptable as far as I know.

[2022-03-14 19:36] #125 closed

[2022-03-14 19:38] #129 closed

[2022-03-14 19:38] #131 closed

[2022-03-14 19:39] #133 closed

[2022-03-14 19:49] mzeryck commented on #137
@bckelley I stepped away from this project for a while - please let me know if you're still having this issue!

[2022-03-14 19:49] mzeryck commented on #138
Closing this because it appears to work in iOS 15! (Wondering if there were issues with Scriptable with the betas.)

[2022-03-14 19:49] #138 closed

[2022-03-14 19:51] mzeryck commented on #140
@CapitalistVN Weather Cal isn't actually super smart - if there is too much stuff in the widget, it will get cut off. You could try going to Edit preferences > Text sizes, colors, and fonts and then changing the date format settings so it's not as big of a font size.

[2022-03-14 19:51] #140 closed

[2022-03-14 19:56] mzeryck commented on #142
@jacobodgaard @icsAT I know it has been a few months - if either of you are still having this issue, can you please create a new script and paste the following code:
`const calendars = await Calendar.forEvents()
for (item of calendars) {
  console.log(item.title)
}`
Then, see if the calendar you're looking for appears in that list? (If it doesn't, it means Scriptable isn't seeing it.)

[2022-03-14 20:53] icsAT commented on #142
Hey @mzeryck,
glad to hear from you. Hope you are doing all right. I checked this again (I think I already did before). In my case the calendar I am looking for (my company exchange calendar) is not shown.

Greetings André

[2022-03-15 02:36] mzeryck commented on #144
I believe this was a bug in the Scriptable app itself that was fixed!

[2022-03-15 02:36] #144 closed

[2022-03-15 02:41] #148 closed

[2022-03-15 02:41] mzeryck commented on #149
@Tobi197 Are you still experiencing this issue? Also, my apologies but I'm only able to communicate in English.

[2022-03-15 02:42] mzeryck commented on #152
@civicdriver80 I know it's been a few months - are you still experiencing this issue?

[2022-03-15 02:42] #153 closed

[2022-03-15 02:42] #154 closed

[2022-03-15 02:42] #155 closed

[2022-03-15 02:42] #156 closed

[2022-03-15 02:51] mzeryck commented on #109
I'm finally returning to this project - wondering if anyone is still experiencing this issue? I know the initial implementation of the "Text sizes, colors, and fonts" menu broke because of incompatibility with previous versions of the widget. Just curious to see if I should take a look!

[2022-03-15 03:46] #113 closed

[2022-03-15 03:46] #116 closed

[2022-03-15 03:46] #135 closed

[2022-03-15 03:46] #143 closed

[2022-03-15 03:46] #157 closed

[2022-03-15 03:48] mzeryck commented on #113
Thanks everyone for the feedback and information! My original (very basic) parser only understood RSS, not Atom. Thanks to @ArnavMotwani it now should work better with Atom feeds like The Verge.

[2022-03-15 03:49] mzeryck commented on #116
@mrJudahBella I know it's been a long time since you submitted this, but just wanted to say thank you for reporting it - I took a break from this project for a while. Luckily it was an easy fix.

[2022-03-15 03:50] mzeryck commented on #135
@Aellus I know it's been a while, sorry I took a break from this project. I've fixed my code so that there's no longer a limit on how many events you can show. (The old code was only pulling events from this week and next week - I expanded it so it can pull from any date now!)

[2022-03-15 03:50] mzeryck commented on #143
@robinogi Thank you for submitting this, and sorry for how long it took to resolve - I took a break from this project. The newest version should fix this by being a bit smarter with its RSS parsing. (Also note that the link has changed to https://www.cbc.ca/cmlink/rss-topstories since this was submitted!)

[2022-03-15 03:51] mzeryck commented on #157
I've fixed the parsing of the "Country for COVID information" setting to work better without needing to change the URL.

[2022-03-15 03:53] mzeryck commented on #142
@icsAT Thank you for checking! Sadly, this means it's an issue with Scriptable itself, rather than with the Weather Cal script. I'll close this issue for now but I will be happy to fix if Scriptable is updated.

[2022-03-15 03:53] #142 closed

[2022-03-15 04:23] civicdriver80 commented on #152
I have deleted the Script.

[2022-03-15 04:23] #152 closed

[2022-03-15 05:30] mrJudahBella commented on #116
Thanks for the fix! Hope you're doing well.

[2022-03-15 09:12] icsAT commented on #137
Looks like the same issue as #120.

I thik there is somehow a cache problem. We had a few people with problems like that out of the nowhere. You could track it down by removing one item by another to find wich item is causing the problem and wich cache file is not working and deleting it. You also could use the function "completely reset Widget", but then you have to redo all the settings.

Or Max

[2022-03-15 17:40] Tobi197 commented on #149
@mzeryck No problem anymore. It works.

[2022-03-17 03:39] #149 closed

[2022-03-17 03:41] mzeryck commented on #137
I know my caching code is a bit brittle - if something fails, or the data doesn't make sense, I believe it will still write it to disk. So I agree that better error handling would be good here.

[2022-03-17 03:43] mzeryck commented on #120
Closing this issue because it seems to be the same as #137 - so will be updating there.

[2022-03-17 03:43] #120 closed

[2022-03-22 10:29] blakkkk commented on #158
No; I have attempted screenshotting and cropping multiple times

[2022-03-22 17:26] mvan231 commented on #158
What do you mean cropping? The script should make the image slices for you with no need for manual cropping

[2022-03-22 20:25] blakkkk commented on #158
Does Weather Cal automatically crop the background to size? I didn't think it did and have been using a shortcut named Transparent Icon Creator to crop a screenshotted image of my background (on the last page of the edit home screen) to the size of a medium widget.

[2022-03-23 00:37] mzeryck commented on #158
This is an issue with the Scriptable app, not Weather Cal. I used the same source image in Scriptable and in Widgy to test this. Here is Scriptable - you can see the edge of the widget, where the lines get a bit blurry:
![scriptable](https://user-images.githubusercontent.com/71023727/159599149-e6153876-0601-4217-be05-1d52e66e137f.png)

And here is Widgy. I can't see the boundary.
![widgy](https://

[2022-03-23 00:37] #158 closed

[2022-04-16 15:00] m1mbp opened #160 "Widget just shows “Alerts are not supported in a widget”"

[2022-04-17 04:30] jl10135 opened #161 "sunset/sunrise time doesn't show"
the widget displays -- in lieu of an actual time next to the sunset/sunrise icons. i've tried changing between having "sunset" and "sunrise" in the layout, using separate sunrise and sunset elements, and limiting the times displayed.

![IMG_3635](https://user-images.githubusercontent.com/70981356/163700537-1fcfc4ff-d4f7-4f14-95c9-c26c7de3d6f8.jpg)

[2022-04-17 11:50] devenyi opened #162 "Issue connecting to sunrise-sunset"
I have been getting this message since yesterday.

Error: The certificate for this server is invalid.
You might be connecting to a server that is
pretending to be "api.sunrise-sunset.org" which
could put your confidential information at risk.

[2022-04-17 18:02] icsAT commented on #161
The certificate of the api called is outdated. Hopefully the owner of the service will fix it soon.

[2022-04-17 18:03] icsAT commented on #162
Same as #161.

The certificate of the api called is outdated. Hopefully the owner of the service will fix it soon.

[2022-05-07 21:06] mzeryck commented on #160
Have you run the script from within the Scriptable app first, to set it up?

[2022-05-07 21:08] mzeryck commented on #161
It looks like this has been fixed by the API provider!

[2022-05-07 21:08] #161 closed

[2022-05-07 21:08] mzeryck commented on #162
It looks like this has been fixed by the API provider!

[2022-05-07 21:08] #162 closed

[2022-06-05 15:14] YuriStruszczynski opened #163 "vAlign always to top?"
Hi, is there a possibility to always align the whole view to top. Right now it seems to be vertically centred in relation to its content hight. Best regards, Yuri

[2022-06-06 21:07] YuriStruszczynski opened #164 "Feature request: Show / hide subtasks of reminders"
Hi,

in reminders app you’re able to create subtask inside a reminder (by drag&drop). It would be cool to have the possibility to hide them.

best regards, Yuri

[2022-06-13 17:42] amadkins88 opened #165 "Weather Cal Scriptable"

[2022-06-14 19:54] mvan231 commented on #165
what is the issue?

[2022-06-18 07:29] bstanert opened #166 "Test"

[2022-06-19 05:18] mzeryck commented on #163
Hi @YuriStruszczynski, this is possible by adding a `space` element. The space will push all of the content above it to the top - it essentially acts as a flexible space. I hope this helps!

[2022-06-19 05:21] mzeryck commented on #164
@YuriStruszczynski Unfortunately, this capability is not possible because Apple doesn't provide this information in the API. Hopefully they will add support for this in the future!

[2022-06-19 05:21] #164 closed

[2022-07-06 21:31] WetTiger opened #167 "Problems with the weather"
Hi there,
I have added a valid OpenWeathermap API key. -> no weather information is shown.
I have set the OpenWeather locale to "de" -> no weather is shown.
And if I set "show location name" to "true" I can't even preview the widget anymore. I get the message "Error on line 1803:39: Expected value of type string but got value of type null."

Do you have any idea how I can fix this?

Many thanks!

[2022-07-06 21:55] WetTiger commented on #167
Ok, I think I have figured it out: gps location permission wasn't given for scriptable. Now it worked.
Is there a way to set a fixed location? I don't want my gps to run/track everytime I use the script...

[2022-07-07 02:27] icsAT commented on #167
@WetTiger I am not sure, but the location is cached. If you remove the permission the script should use the cache.
What I am not sure about at the moment is, that the cache will expire after some time. Hopefully then it will still use the outdated cache if it could not get a new location.
Just try to remove the permission and look what will happen.

[2022-07-07 15:06] mvan231 commented on #167
@WetTiger @icsAT
You can specify the location sent to OpenWeatherMap so that it will just use the fixed location but keep in mind that when traveling outside that area, your weather data won't be accurate

[2022-07-08 23:11] epizzarello opened #168 "Error on line 1642:29: SyntaxError: JSON Parse error: Unexpected EOF"
It's the getCache function if that helps. The widget just displays that message. The script still allows me to change options, but if I try to "Show widget preview" it gives the same error.

[2022-07-12 05:50] hbfreak opened #169 "showing events as long as they last"
Hey there,

is there a possibility to set „Minutes after event begins“ to the time the event ends?
I‘d like to show events as long as they last.

Thanks a lot
Daniel

[2022-07-14 00:05] EnricoBara opened #170 "URLs"
Hi mzeryck I just discovered your widget and I don't know how I survived 1 year with the black calendar widget 😂 my compliments for your work, it's soo useful and really easy to set it up and customise! And moreover many many thanks for sharing it!

May I ask you how can I add a url for opening the calendar when I click the "date" element? Also, what's the url of the apple weather app for opening

[2022-07-15 13:24] epizzarello commented on #137
@mzeryck Can I be assigned this issue? It happened on mine and I already implemented a fix that worked.

[2022-07-15 13:25] epizzarello commented on #168
Duplicate issue as #137

[2022-07-15 13:25] #168 closed

[2022-07-19 05:08] #160 closed

[2022-07-19 05:08] #166 closed

[2022-07-19 05:08] #163 closed

[2022-07-19 05:08] #165 closed

[2022-07-19 05:09] mzeryck commented on #167
Both of these options should work (either allowing GPS once and using the cache, or manually setting the location). Thanks @icsAT and @mvan231!

[2022-07-19 05:09] #167 closed

[2022-07-19 05:10] mzeryck commented on #169
This is a great idea! I'll add it to the feature requests that I will hopefully have time for soon.

[2022-07-19 05:32] mzeryck commented on #170
Hi there, I'm so glad to hear you're enjoying the widget! Both of these are great ideas, and I'm so excited that there's finally a way to open the weather app via URL in iOS 16!

The `calshow://` format uses seconds since January 1, 2001. Javascript's [getTime()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getTime) function returns milliseconds since Janua

[2022-07-19 05:35] #145 closed

[2022-07-19 05:37] mzeryck commented on #137
@epizzarello Thank you for adding this!

[2022-07-19 05:37] #137 closed

[2022-07-19 15:55] EnricoBara commented on #170
Oh thanks for the info now I understand why there's `secondsForToday`!

I got it working in this way

` // Display the date on the widget.
  async date(column) {
  	const secondsForToday = Math.floor(new Date().getTime() / 1000) - 978307200
		const dateUrl = "calshow:" + secondsForToday
    const dateSettings = this.settings.date
    if (!this.data.events && dateSettings.dynamicDateSize) { await t

[2022-07-19 17:53] epizzarello commented on #170
I just submitted a pull request that does all of these things @mzeryck
I tried it on mine and it works

[2022-07-19 17:59] EnricoBara commented on #170
Is it possibile to add the same urlscheme to the background too, when an empty space is tapped? Or this can only be done out from scriptable in the widget setting?

[2022-07-20 10:57] EnricoBara commented on #170
Thanks @epizzarello everything works fine!

Is it also possibile to add an url to the background, when an empty space is tapped? Or this can only be done out from scriptable in the widget setting?

[2022-07-21 00:10] EnricoBara commented on #170
No problem thanks anyway!

[2022-07-24 17:57] ryansowinski opened #173 "Weather and Sunrise/set"
Weather is showing the night symbol from 12pm (noon) on.
Sunrise/sunset times will not populate.

[2022-07-25 23:48] EnricoBara opened #174 "Events/Reminders layout"
Hello,
is it possibile to align the time of an event/reminder to its title?
Also, if I may suggest, the circle `/u25cf` fits better near the text than the actual `/u2B24`, and if it could be added a ring `/u2B58` they will look the same size.

Thanks!

![EAD0F086-CDA7-4FFF-AC23-1E7648872726](https://user-images.githubusercontent.com/12520941/180893152-4f912230-6aea-4d56-b2fb-5a63db9449b2.png)

[2022-07-26 05:56] Nari07 opened #175 "server issue"
Keeps displaying “the certificate for this server is invalid” and the widget will not load properly. Is there a fix to this?

[2022-07-26 10:22] herrandersen commented on #175
The ssl certificate for „api.sunrise-sunset.org“ expired a few days ago, hence the error message.
Don‘t know how to fix it though

[2022-07-26 10:28] herrandersen commented on #175
Well you could just look for the „https://api.sunrise-sunset.org“ string in the code and change it to „http://…“ and there you go, but the connection would still not be safe though.

[2022-07-27 09:19] tbaer1 commented on #173
It's the same like [https://github.com/mzeryck/Weather-Cal/issues/175](url)

[2022-07-27 21:22] mzeryck commented on #175
Duplicate of #175. Will probably just switch to OpenWeather since they have a sunrise/sunset API.

[2022-07-28 06:33] hbfreak commented on #169
This is working great now. Thank you so much! 😊

[2022-07-28 06:33] #169 closed

[2022-07-30 21:12] #175 closed

[2022-07-30 21:12] #173 closed

[2022-08-17 00:31] devenyi opened #177 "Certificate for the server is invalid"
Re api.sunset.org

[2022-08-25 03:14] mzeryck commented on #177
The newest version doesn't have this issue. Please try updating the code!

[2022-08-25 03:14] #177 closed

[2022-08-25 04:10] devenyi commented on #177
Thanks! I did and it’s all good now!

[2022-09-06 22:34] jselsto opened #178 "OpenWeather API-key"
The API-key for OpenWeather won’t register as valid. I only get the message: «The key you entered (…) didn’t work…». This 3 days after I registered the key. The key shows as active on OpenWeather’s site.

As a result the widget only displays exclamation marks within a red circle.

Anything I missed?

[2022-09-11 21:32] ctyrider commented on #178
Same here..  I can tell my API key is valid and working, as doing the following curl test returns a valid response:

`curl http://api.openweathermap.org/data/2.5/forecast?id=524901&appid=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx`

Any idea what's going on here?

[2022-09-11 23:11] ctyrider commented on #178
After further investigation - it looks like newly generated OpenWeather API keys do not work with v2.5 of their API.   This is documented in this Reddit thread:

https://www.reddit.com/r/Scriptable/comments/x9ow0a/does_anyone_here_use_weather_by_cal_or_the/

@mzeryck any chance to update Weather-Cal to use v3.0 API calls?   Otherwise, it's not useable to any new users.

[2022-09-16 21:19] vic-damone-jr commented on #178
I have fixed this by going thru the code and changed the 2.5 to 3.0
Then it works.

[2022-09-16 21:21] vic-damone-jr commented on #178
/*

This script contains the logic that allows Weather Cal to work. Please do not modify this file. You can add customizations in the widget script.
Documentation is available at github.com/mzeryck/Weather-Cal

*/

const weatherCal = {

  // Initialize shared properties.
  initialize(name, iCloudInUse) {
    this.name = name
    this.fm = iCloudInUse ? FileManager.iCloud() : FileManager.local()

[2022-09-16 23:40] jselsto commented on #178
Thanks 😊 Works fine now! Had to subscribe to OpenWeather as well (but with 1.000 API calls a day for free).

[2022-09-27 18:59] mvan231 commented on #178
Yes! You can also set a API call limit in your account setting as well

[2022-09-28 03:07] mzeryck commented on #178
Hi all sorry for the delay - has anyone been able to see if the older version 2.5 API keys work when you call the 3.0 API? I want to update the code here on Github, but I don't want to accidentally break anyone's script if they still have an old API key.

[2022-09-28 03:50] mvan231 commented on #178
Looks like a key valid for 2.5 API doesn't work on 3.0. Guessing because the appid doesn't match. Seems catching this might be trickier than I initially thought

[2022-09-28 06:58] mzeryck commented on #178
Would anyone be willing to test out a potential fix? I still have a 2.5 API key and couldn't easily figure out how to get a 3.0 key. There's a pull request #179 that you would need to copy the weather-cal-code from into your Scriptable app directly.

[2022-09-28 18:21] EnricoBara opened #180 "iOS 16.1 beta"
Widget stopped working since iOS 16.1 b1, I tried some change without any positive result. Is there a way to fix it?
Still broken with beta 2 and beta 2

[2022-09-29 10:52] mvan231 commented on #180
This is not a problem with the script / widget code. It's an issue ios 16.1 beta introduced. It's a known problem and still an issue in 16.1 dev beta 3. I personally have submitted feedback to Apple about it multiple times already.

Simon tried fixing it with some workaround in the Scriptable Beta, but it didn't work still.

FYI: Widgy is reportedly also not working with this beta.

[2022-09-29 10:57] EnricoBara commented on #180
Thanks for the clarification, my bad thinking the code could be updated but some widgets are still working

[2022-09-29 13:00] mvan231 commented on #180
Really? That is interesting! Even if I make a simple widget in Scriptable, it won't render.

Did you mean Scriptable widgets, or another app's widgets?

[2022-09-29 15:51] EnricoBara commented on #180
Well, today I updated to ios 16.1 b3, no widgets are working, I also tried for some simple code with no good results. Maybe the previous widget was frozen and I didn't knew that ahah Hopefully Simon will fix it, I'm using the testflight version too.

[2022-09-29 19:12] mvan231 commented on #180
Simon tried to fix it but seems this is something Apple needs to fix as mentioned.

[2022-09-30 21:27] mzeryck commented on #180
I'm not able to run betas on my phone, so thanks to everyone for the info. I'll leave this issue open until the issue between Scriptable and iOS is hopefully fixed.

[2022-10-01 18:13] mintakka commented on #180
Same issue. I've also reported to apple via the feedback app. I suggest everyone else that finds themselves on this page do the same. squeaky wheels and all, you know

[2022-10-02 10:00] EnricoBara commented on #180
The curious thing is that widgy and widgetsmith renders but no information is taken from calendars or reminders (ofc permissions are given) so it could be a scriptable+iOS combo because scriptable is unable to render neither an image or a plain text

![CCFBDCFC-03CB-48DB-A818-EC79DE2FD445](https://user-images.githubusercontent.com/12520941/193448541-dcd20594-1dd1-4ec8-9769-f1934707110a.png)

[2022-10-05 08:22] EnricoBara commented on #180
The good thing is that with iOS 16.1 beta 4 widgets are back to work but the layout is kept to large even if I change the settings to medium (trying the default layout)

![13A6E1D4-ABAF-4D67-B56B-53A5E1EF191B](https://user-images.githubusercontent.com/12520941/194014765-213f0a7d-cb2c-4b63-be3f-445f7f22f31e.jpeg)

[2022-10-06 13:24] mintakka commented on #180
Just updated to 16.1 Public Beta 4 and medium Widgets are working again

![image](https://user-images.githubusercontent.com/10188101/194324542-a382b87e-2c8e-4376-a876-9a7da300aaf4.jpeg)

[2022-10-06 13:25] EnricoBara commented on #180
Yeah I forgot to close the issue sorry

[2022-10-06 13:25] #180 closed

[2022-10-07 18:27] EnricoBara opened #181 "URL for noRemindersBehavior"
Like the noEventBehavior clickable label, may I suggest to add the url noRemindersBehavior? Here's the part I modified

[code]

[2022-10-18 15:21] anon-user-com opened #182 "Small widget responsible"
![image](https://user-images.githubusercontent.com/64283589/196472606-058e7c40-80f5-4bee-83d8-9fb506d3ca40.jpeg)

Sun on top it's a bit outside frame. Also those 3 dot above battery percentage I'm understanding

[2022-10-19 08:00] anon-user-com opened #183 "Custom item"
Please add rain chances as a separate item from future or help me to do that

[2022-11-03 01:54] fleetwoodmac commented on #178
Does not work. Tried 2 ways.

1. manually deleted old code and pasting in the commit code. No dice.
2. Deleted weather-cal-code, and githuburl to point directly to the commit code to download that version directly. still did not work.

[2022-11-05 13:14] damienmauchamp commented on #178
It actually works for me (with V3 api key).
I've had to subscribe to the ["One Call by Call" base plan](https://openweathermap.org/price) to make it work though, which is free up to 1000 call per day (should be okay) after a redditor suggested it [here](https://www.reddit.com/r/Scriptable/comments/x9ow0a/comment/io707k6/?utm_source=share&utm_medium=web2x&context=3).